* {
  font-family: "Noto Sans JP", sans-serif;
}

.main {
  position: relative;
  width: calc(100vw - 16px);
  margin: -16px 0 0 -16px;
  height: max-content;
}

.landing-page-container {
  position: relative;
  width: calc(100vw - 16px);
  margin: -16px 0 0 -16px;
  height: 100vh;
}

.half {
  width: 100%;
  left: 0;
}

.top {
  height: 96vh;
  background-color: #f4f4f4;
}

.bottom {
  position: relative;
  height: max-content;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  width: calc(100vw - 16px);
}

.center-content {
  position: relative;
  height: 100%;
  margin-top: -82.5vh;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.main_image {
  width: 100%;
  height: 100%;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-item {
  min-width: 100%;
  position: relative;
}

.carousel-item img {
  display: block;
  width: 100%;
  height: auto;
  /* background: linear-gradient(to bottom,rgba(244, 244, 244, 0), rgba(244, 244, 244, 1)); */
}

.active {
  animation: topCardFrame 1s ease-out forwards;
}

.carousel-indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  padding-left: 65px;
  width: 100%;
  z-index: 3;
}

.indicator {
  width: 60px;
  height: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.indicator.active {
  background-color: #e10202;
}

.gradient-overlay {
  position: absolute;
  top: 166px;
  left: 0;
  width: 100%;
  height: 40%;
  background: var(
    --Linear,
    linear-gradient(180deg, rgba(244, 244, 244, 0) 50%, #f4f4f4 100%)
  );
  pointer-events: none;
  z-index: 2;
}

.logo-desc-title {
  position: absolute;
  bottom: 25px;
  left: 65px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 8px;
}

.logo-desc {
  display: flex;
  align-items: center;
  font-size: 28px;
  color: #ffffff;
  font-weight: 700;
  border-top: 2px solid var(--White-white, #fff);
}

.logo-desc img {
  width: 42px;
  height: 50px;
  background: transparent;
}

.main-cards {
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px 0;
}

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  padding: 16px;
  width: 45%;
  gap: 25px;
  height: 250px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.card-noPerm {
  background: var(--Gray-bg, #f4f4f4);
  border-radius: 10px;
  display: flex;
  padding: 16px;
  width: 45%;
  gap: 25px;
  height: 250px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.displaybeforehover {
  gap: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.image-container {
  width: 45%;
  height: 100%;
}

.displayonhover {
  display: none;
  overflow: hidden;
  border-radius: 10px;
} /*
.displayonhover img{
    transition: transform 0.3s ease 1s;
    object-fit: cover;
    margin-top: 100px;
}

.card:hover{
    height: 250px;
    padding: 0;
}

.card:hover img{
    transform: scaleX(1.15);
    transition: transform 0.3s ease-out 1s;
} */

.card:hover {
  /* display: none; */
  outline: 2px solid #e10202;
  box-shadow: 12px 12px 23px 0px #00000014;
  cursor: pointer;
}

/* .card:hover .displayonhover{
    width: 100%;
    display: flex;
    padding: 0;
    
}

.card:hover .displayonhover img{
    transform: scale(1.1);
    animation: hoverOfCard 1000ms ease-out forwards;
    height: 266px;
    margin-left: 29.9px;
    margin-top: -7.9px;
} */

@keyframes hoverOfCard {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
    width: 89.4%;
  }
}

@keyframes topCardFrame {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.card img {
  width: 220px;
  height: 218px;
  border-radius: 10px;
}

.card-noPerm img {
  width: 220px;
  filter: grayscale(1);
  height: 218px;
  border-radius: 10px;
}

@keyframes fadeOutEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.search-button {
  min-width: 176px;
  height: 48px;
  align-self: center;
  background-color: #e10202;
  border-radius: 10px;
  padding: 0 16px;
  font-size: 24px;
  font-weight: 700;
  border: none;
  color: #ffffff;
  transition:
    background-color 0.9s ease,
    border 0.5s ease,
    color 0.5s ease;
}

.search-button:hover {
  border: 1px solid #e10202;
  background-color: white;
  color: #e10202;
  transition:
    background-color 0.9s ease,
    border 0.5s ease,
    color 0.5s ease;
}

.search-button:hover svg path {
  fill: #e10202;
}

.save-button {
  min-width: 170px;
  height: 40px;
  align-self: center;
  background-color: #e10202;
  border-radius: 10px;
  padding: 0 16px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  color: #ffffff;
  transition:
    background-color 0.9s ease,
    border 0.5s ease,
    color 0.5s ease;
}

.save-button:hover {
  border: 1px solid #e10202;
  background-color: white;
  color: #e10202;
  transition:
    background-color 0.9s ease,
    border 0.5s ease,
    color 0.5s ease;
}

.save-button:disabled {
  min-width: 170px;
  height: 40px;
  align-self: center;
  background-color: #bbbbbb;
  border-radius: 10px;
  padding: 0 16px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  color: #ffffff;
  cursor: not-allowed;
}

.head-over-image {
  position: absolute;
  z-index: 4;
  top: 100px;
  left: 61px;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

.card-heading {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
  margin: 10px 0;
  color: #262626;
}

.card-heading-noPerm {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
  margin: 10px;
  color: #7b7b7b;
}

.card-heading-shop {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
  margin: 10px;
  color: #262626;
  display: flex;
  align-items: center;
  gap: 5px;
}

.notify {
  font-size: 16px;
  color: #e10202;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 3px;
}

.no-invoice {
  font-size: 16px;
  padding: 10px;
  font-weight: 400;
  color: #7b7b7b;
}

.below-info {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  /* margin: 10px; */
}

.below-info-sales {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 10px;
}

.below-info-vehicle {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.below-info-vehicle-noPerm {
  margin: 10px 0;
  display: flex;
  height: 73.5%;
  flex-direction: column;
  justify-content: space-between;
}

.space-contents {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 16px;
  font-weight: 400;
}

.space-label {
  font-size: 16px;
  font-weight: 700;
  color: #262626;
}
.space-label-last {
  font-size: 16px;
  font-weight: 700;
  color: #262626;
}

.space-label-noPerm {
  font-size: 16px;
  color: #7b7b7b;
  font-weight: 400;
  padding: 0 10px;
}

.space-text-red {
  font-size: 24px;
  font-weight: 700;
  color: #e10202;
}

.content {
  font-size: 16px;
  font-weight: 400;
}

.content-dtfsa {
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px 0 0;
}

.over-hover {
  position: absolute;
  font-weight: 700;
  width: 41%;
  height: 250px;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 8;
}

.over-hover-in {
  /* width: 51%; */
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.over-hover-inv {
  position: absolute;
  font-weight: 700;
  width: 41%;
  height: 250px;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 8;
}

.over-hover-in-inv {
  /* width: 44%; */
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.desc-hover {
  white-space: nowrap;
  text-align: center;
}

.para-nohover {
  flex-direction: column;
  white-space: nowrap;
}

.desc-hover-inv {
  text-align: center;
  width: 100%;
}

.over-hover-in-sal {
  /* width: 57%; */
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.desc-hover-dtf {
  text-align: center;
  width: 91%;
}

.feedback-block {
  background-color: #e10202;
  width: max-content;
  padding: 12px 16px;
  position: fixed;
  bottom: 20%;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 0px 4px 4px 0px;
  color: #ffffff;
  z-index: 10;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.feedback-hover {
  /* display: none; */
  position: absolute;
  left: -100px;
  width: 112px;
  padding: 1px;
  height: 100%;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: transparent;
  background-color: #e10202;
  border-radius: 0px 4px 4px 0px;
  color: white;
  transition: none; /* Disable other transitions for keyframe animation */
  animation: none;
}

.feedback-block:hover .feedback-hover {
  animation: slide-in 0.5s forwards;
}

.modal-background-last {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-window-small {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 12px 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 44%;
  max-height: 100%;
  height: 500px;
  width: 650px;
}

.warning-modal {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.feedbackHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 1px solid #d9d9d9;
}

@keyframes slide-in {
  0% {
    left: 40px;
  }

  100% {
    left: 45px;
  }
}

.scrollbar {
  max-height: 342px;
  height: 341px;
  overflow-y: auto;
  padding-right: 10px;
  margin-top: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 8px;
  margin-right: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 5px;
  margin-right: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d1d0d0;
}

.general-ques {
  width: 100%;
}

.ques-head {
  display: flex;
  font-size: 14px;
  font-weight: 400;
}

.rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px 10px 0;
  font-size: 13px;
  font-weight: 400;
}

.num-select {
  justify-content: center;
  width: 32px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: var(--Gray-bg, #f4f4f4);
  cursor: pointer;
}

.num-selected {
  justify-content: center;
  width: 32px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: #e10202;
  background-color: #feeeed;
  cursor: pointer;
}

.rating-container-smile {
  display: flex;
  gap: 10px;
  padding: 15px 0 35px 0;
  font-size: 13px;
  font-weight: 400;
}

.smile {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  width: 75px;
  font-size: 11px;
  padding: 6px 7px;
  border-radius: 10px;
  cursor: pointer;
}

.vehicleHead {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  margin: 25px 0;
}

.inside-vehicle {
  padding: 0 15px 0px 46px;
}

.veh-input {
  width: 100%;
  height: 96px;
  border-radius: 10px;
  margin: 15px 0;
  border: 1px solid var(--Gray-line, #d9d9d9);
}

.veh-textarea::placeholder {
  color: var(--gray-text-2-textbox-text-bg, #bbb);
}

.veh-textarea {
  width: 100%;
  height: 96px; /* Matches the desired height */
  border-radius: 10px; /* Same as your original input */
  margin: 15px 0;
  border: 1px solid var(--Gray-line, #d9d9d9);
  padding: 10px; /* Inner spacing to position text */
  box-sizing: border-box; /* Ensures padding is included in height */
  resize: none; /* Prevent resizing */
  font-family: inherit; /* Matches input styling */
  font-size: inherit; /* Matches input styling */
  line-height: normal;
  overflow: auto; /* Ensures clean appearance */
}

.smile-selected1 {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  width: 75px;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
  position: relative;
  border: 3px solid #d32228;
  cursor: pointer;
}

.smile-selected2 {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  width: 75px;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
  position: relative;
  border: 3px solid #f36e24;
  cursor: pointer;
}

.smile-selected3 {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  width: 75px;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
  position: relative;
  border: 3px solid #fdcf0b;
  cursor: pointer;
}

.smile-selected4 {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  width: 75px;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
  position: relative;
  border: 3px solid #91c942;
  cursor: pointer;
}

.smile-selected5 {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  width: 75px;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
  position: relative;
  border: 3px solid #2bb44c;
  cursor: pointer;
}

.highlight1 {
  display: flex;
  padding: 1px;
  border-radius: 10px;
  width: 65px;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  background: var(--emotion-5-bg, rgba(211, 34, 40, 0.15));
  align-items: center;
}

.highlight2 {
  display: flex;
  padding: 1px;
  border-radius: 10px;
  width: 65px;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  background: var(--emotion4-bg, rgba(243, 110, 36, 0.15));
  align-items: center;
}

.highlight3 {
  display: flex;
  padding: 1px;
  border-radius: 10px;
  width: 65px;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  background: var(--emotion3-bg, rgba(253, 207, 11, 0.15));
  align-items: center;
}

.highlight4 {
  display: flex;
  padding: 1px;
  border-radius: 10px;
  width: 65px;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  background: var(--emoticon-2-bg, rgba(145, 201, 66, 0.15));
  align-items: center;
}

.highlight5 {
  display: flex;
  padding: 1px;
  border-radius: 10px;
  width: 65px;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  background: var(--emoticon1-bg, rgba(43, 180, 76, 0.15));
  align-items: center;
}

.svg-tick {
  position: absolute;
  z-index: 3000;
  top: -10px;
  right: -8px;
}

.buttons-all {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.buttons-all-ok {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 90px;
  flex-direction: column;
  margin-bottom: 10px;
}

.help-info {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 10px;
  margin: 12px 0;
}

.help-bold {
  font-size: 14px;
  font-weight: 700;
}

.help-text {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.phone {
  display: flex;
  gap: 10px;
  margin-left: 5px;
}

.timing {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: baseline;
  margin-left: 5px;
}

.modal-background-last2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 109;
  /* Ensure it is on top */
}

.modal-window-small2 {
  background-color: rgba(251, 251, 251);
  border-radius: 8px;
  padding: 1rem 3rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  /* Max width to ensure it fits on screen */
  max-height: 90%;
  /* Max height to ensure it fits on screen */
  overflow: auto;
  /* Add scroll if content overflows */
}

.modal-window-smalldtfsa {
  background-color: rgba(251, 251, 251);
  border-radius: 8px;
  padding: 48px 96px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  /* Max width to ensure it fits on screen */
  max-height: 90%;
  /* Max height to ensure it fits on screen */
  overflow: auto;
  /* Add scroll if content overflows */
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  gap: 40px;
}

.warning-modal2 {
  width: 100%;
  height: 64%;
  display: flex;
  padding: 1.5rem 3rem 0 3rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.button-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-overlay {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  position: absolute;
  z-index: 5;
  width: 44.3%;
  height: 250px;
  border-radius: 10px;
}

.thankyou-font {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.space-text {
  display: flex;
  align-items: baseline;
  font-size: 24px;
  font-weight: 700;
}

.space-text-slash {
  display: flex;
  align-items: baseline;
  font-size: 16px;
  font-weight: 400;
}

.red-text {
  font-size: 24px;
  font-weight: 700;
  color: #e10202;
}

.fixedContact {
  height: 255px;
  display: flex;
  align-items: end;
}

.recall-card {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.desc-hover-dtf,
.desc-hover-inv {
  white-space: nowrap;
}

.app-btn {
  display: flex;
  justify-content: end;
}

.appli-button {
  min-width: 106px;
  height: 51px;
  align-self: center;
  background-color: #e10202;
  border-radius: 10px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  color: #ffffff;
  transition:
    background-color 0.9s ease,
    border 0.5s ease,
    color 0.5s ease;
}

.appli-button:hover {
  border: 1px solid #e10202;
  background-color: white;
  color: #e10202;
  transition:
    background-color 0.9s ease,
    border 0.5s ease,
    color 0.5s ease;
}
.main-container {
  width: calc(100vw - 16px);
  margin: -16px 0 0 -16px;
  height: max-content;
}
.modal-background-last {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 109;
}
.modal-window-small-news {
  background-color: rgba(251, 251, 251, 1);
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  height: 320px;
  width: 62%;
  max-height: 90%;
}
.header-container-more {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 700;
  --sds-c-icon-color-foreground-default: #0a0a0a;
  margin-bottom: 14px;
}
.data-more-modal-terms {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.data-modal-news {
  gap: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reg-date-terms {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.modal-description-terms {
  color: #262626;
  font-size: 14px;
  overflow-y: auto;
  max-height: 315px;
  /* width: 600px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px 10px;
}
.modal-description-terms::-webkit-scrollbar {
  width: 10px;
}

.modal-description-terms::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 10px;
}

.modal-description-terms::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 12px;
}

.modal-description-terms::-webkit-scrollbar-thumb:hover {
  background: #828282;
}

.main-link-href {
  text-decoration: underline;
  color: #e10202;
}
.main-container-background {
  width: 100%;
  height: auto;
}

.modal-window-small-inv {
  background-color: rgba(251, 251, 251, 1);
  border-radius: 8px;
  padding: 48px 96px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* height: 320px; */
  /* width: 62%; */
  font-size: 18px;
  font-weight: 400;
  max-height: 90%;
}

.buttons-all-inv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.warning-modal-inv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* master queries of screen zoom in and out */
@media (max-width: 2560px) {
  .center-content {
    margin-top: -88.5vh;
    width: 80%;
  }
  .main-container {
    margin: -16px 0 0 -33px;
  }

  .main {
    margin: -16px 0 0 -33px;
  }
  .landing-page-container {
    margin: -16px 0 0 -33px;
  }
}

@media (max-width: 1920px) {
  .center-content {
    margin-top: -85.5vh;
    width: 83%;
  }
  .main-container {
    margin: -16px 0 0 -22px;
  }

  .main {
    margin: -16px 0 0 -21px;
  }
  .landing-page-container {
    margin: -16px 0 0 -21px;
  }
}

@media (max-width: 1707px) {
  .center-content {
    margin-top: -84.5vh;
    width: 87%;
  }

  .main {
    margin: -16px 0 0 -18px;
  }
  .landing-page-container {
    margin: -16px 0 0 -18px;
  }

  .gradient-overlay {
    top: 202px;
  }
}

@media (max-width: 1686px) {
  .center-content {
    margin-top: -84vh;
    width: 88%;
  }
}

@media (max-width: 1600px) {
  .center-content {
    margin-top: -83.5vh;
    width: 89%;
  }
  .main-container {
    margin: -16px 0 0 -18px;
  }
  .main {
    margin: -16px 0 0 -17px;
  }
  .landing-page-container {
    margin: -16px 0 0 -17px;
  }
}

@media (max-width: 1536px) {
  .center-content {
    margin-top: -82.5vh;
    width: 89.5%;
  }

  .main {
    margin: -16px 0 0 -15px;
  }
  .landing-page-container {
    margin: -16px 0 0 -15px;
  }

  .gradient-overlay {
    top: 180px;
  }
}

@media (max-width: 1280px) {
  .center-content {
    margin-top: -81.5vh;
    width: 90%;
  }

  .main {
    margin: -16px 0 0 -13px;
  }
  .main-container {
    margin: -16px 0 0 -16px;
  }
  .landing-page-container {
    margin: -16px 0 0 -13px;
  }

  .gradient-overlay {
    top: 166px;
  }
}

@media (max-width: 1170px) {
  .center-content {
    margin-top: -80.5vh;
  }

  .main {
    width: calc(100vw - 14px);
  }
  .landing-page-container {
    width: calc(100vw - 14px);
  }

  .search-button {
    font-size: 20px;
  }

  .gradient-overlay {
    top: 148px;
  }
  .recall-card {
    font-size: 12px;
  }
  .modal-window-small {
    max-height: 98%;
    max-width: 50%;
  }
}

@media (max-width: 1024px) {
  .center-content {
    margin-top: -79vh;
  }

  .main {
    width: calc(100vw - 13px);
  }
  .landing-page-container {
    width: calc(100vw - 13px);
  }

  .gradient-overlay {
    top: 131px;
  }
  .recall-card {
    font-size: 11px;
  }
  .space-label-last {
    font-size: 12px;
  }
  .label-recall-last-new {
    font-size: 12px;
  }
  .over-hover-in-sal {
    width: 66%;
  }
  .modal-window-small {
    max-height: 96%;
    max-width: 56%;
  }
  .scrollbar {
    height: 280px;
  }
}

@media (max-width: 864px) {
  .center-content {
    margin-top: -76vh;
  }

  .main {
    width: calc(100vw - 10px);
  }
  .landing-page-container {
    width: calc(100vw - 10px);
  }
}

@media (max-width: 768px) {
  .center-content {
    margin-top: -75vh;
  }
}

@media (max-width: 640px) {
  .center-content {
    margin-top: -73vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
  .center-content {
    margin-top: -88.6vh;
  }
}

@media only screen and (min-width: 820px) and (max-width: 820px) and (min-height: 1180px) and (max-height: 1180px) {
  .center-content {
    margin-top: -89.4vh;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) {
  .center-content {
    margin-top: -90.2vh;
  }
}

@media only screen and (min-width: 912px) and (max-width: 912px) and (min-height: 1368px) and (max-height: 1368px) {
  .center-content {
    margin-top: -90.2vh;
  }
}

@media only screen and (min-width: 1114px) and (max-width: 1114px) and (min-height: 720px) and (max-height: 720px) {
  .center-content {
    margin-top: -80.2vh;
  }
}

@media (max-width: 2560px) {
  .center-content {
    width: 80%;
  }
}

@media (max-width: 1920px) {
  .center-content {
    width: 83%;
  }
}

@media (max-width: 1707px) {
  .center-content {
    width: 87%;
  }
}

@media (max-width: 1686px) {
  .center-content {
    width: 88%;
  }
}

@media (max-width: 1600px) {
  .center-content {
    width: 89%;
  }
}

@media (max-width: 1536px) {
  .center-content {
    width: 89.5%;
  }
}
