* {
    font-family: 'Noto Sans JP', sans-serif;
}

.main {
    position: relative;
    width: calc(100vw - 16px);
    margin: -16px 0 0 -16px;
    height: max-content;
}

.half {
    width: 100%;
    left: 0;
}

.top {
    height: 96vh;
    background-color: #F4F4F4;
}

.bottom {
    position: relative;
    height: max-content;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    width: calc(100vw - 16px);
}

.center-content {
    position: relative;
    height: 100%;
    margin-top: -82.5vh;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;

}
.main_image {
    width: 100%;
    height: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    position: relative;
}

.carousel-item img {
    display: block;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom,rgba(244, 244, 244, 0), rgba(244, 244, 244, 1));

}


.carousel-indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.indicator {
    width: 60px;
    height: 4px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.indicator.active {
    background-color: #E10202;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Adjust this value to control the height of the gradient */
    background: var(--Linear, linear-gradient(180deg, rgba(244, 244, 244, 0.00) 50%, #F4F4F4 100%));
    pointer-events: none; /* Prevents it from interfering with other interactions */
    z-index: 2; /* Ensure it is above the image but below other elements */
}
 
.main-cards{
    width: 100%;
    background-color: #F4F4F4;
    padding: 10px 0;
}

.card-container{
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.card{
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 16px;
    width: 45%;
    gap: 25px;
    height: 250px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.displaybeforehover{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.displayonhover{
    display: none;
}

.card:hover{
    height: 250px;
}

.card:hover img{
    transform: scale(1.15);
    transition: transform 0.5s ease;
}

.card:hover .displaybeforehover{
    display: none;
}
.card:hover .displayonhover{
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 16px;
    width: 55%;
}

.card img{
    /* height: 180px; */
    width: 220px;
}

@keyframes hoverOfCard {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.1;
    }
}

.search-button{
    min-width: 176px;
    height: 48px;
    background-color: #e10202;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    color: white;
    transition: background-color 0.9s ease, border 0.5s ease, color 0.5s ease;
}

.search-button:hover{
    border: 1px solid #e10202;
    background-color: white;
    color: #e10202;
    transition: background-color 0.9s ease, border 0.5s ease, color 0.5s ease;
}

.head-over-image{
    position: absolute;
    z-index: 4;
    top: 100px;
    left: 61px;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}

.card-heading{
    font-weight: 700;
    font-size: 18px;
    color: #E10202;
}

.notify{
    font-size: 16px;
    color: #E10202;
    margin-bottom: 10px;
}

.no-invoice{
    font-size: 14px;
}

.below-info{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-left: 2px;
}

/* master queries of screen zoom in and out */
@media (max-width: 2560px) {
    .center-content {
        margin-top: -88.5vh;
        width: 80%;
    }
 
    .main {
        margin: -16px 0 0 -33px;
    }
}
 
@media (max-width: 1920px) {
    .center-content {
        margin-top: -85.5vh;
        width: 83%;
    }
 
    .main {
        margin: -16px 0 0 -21px;
    }
}
 
@media (max-width: 1707px) {
    .center-content {
        margin-top: -84.5vh;
        width: 87%;
    }
 
    .main {
        margin: -16px 0 0 -18px;
    }
}
 
@media (max-width: 1686px) {
    .center-content {
        margin-top: -84vh;
        width: 88%;
    }
}
 
@media (max-width: 1600px) {
    .center-content {
        margin-top: -83.5vh;
        width: 89%;
    }
 
    .main {
        margin: -16px 0 0 -17px;
    }
}
 
@media (max-width: 1536px) {
    .center-content {
        margin-top: -82.5vh;
        width: 89.5%;
    }
 
    .main {
        margin: -16px 0 0 -15px;
    }
}
 
@media (max-width: 1280px) {
    .center-content {
        margin-top: -81.5vh;
        width: 90%;
    }
 
    .main {
        margin: -16px 0 0 -13px;
    }
}
 
@media (max-width: 1170px) {
    .center-content {
        margin-top: -80.5vh;
    }
 
    .main {
        width: calc(100vw - 14px);
    }
}
 
 
@media (max-width: 1024px) {
    .center-content {
        margin-top: -79vh;
    }
 
    .main {
        width: calc(100vw - 13px);
    }
 
}
 
@media (max-width: 864px) {
    .center-content {
        margin-top: -76vh;
    }
 
    .main {
        width: calc(100vw - 10px);
    }
 
}
 
@media (max-width: 768px) {
    .center-content {
        margin-top: -75vh;
    }
}
 
@media (max-width: 640px) {
    .center-content {
        margin-top: -73vh;
    }
 
}
 
@media only screen and (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
    .center-content {
        margin-top: -88.6vh;
    }
}
 
@media only screen and (min-width: 820px) and (max-width: 820px) and (min-height: 1180px) and (max-height: 1180px) {
    .center-content {
        margin-top: -89.4vh;
    }
}
 
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) {
    .center-content {
        margin-top: -90.2vh;
    }
}
 
@media only screen and (min-width: 912px) and (max-width: 912px) and (min-height: 1368px) and (max-height: 1368px) {
    .center-content {
        margin-top: -90.2vh;
    }
}
 
@media only screen and (min-width: 1114px) and (max-width: 1114px) and (min-height: 720px) and (max-height: 720px) {
    .center-content {
        margin-top: -80.2vh;
    }
}