.main {
  position: relative;
  width: calc(100vw - 16px);
  margin: -16px 0 0 -16px;
  height: max-content;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.half {
  width: 100%;
  left: 0;
}

.top {
  height: 96vh;
  background: linear-gradient(to bottom, #bfbfbf, #f4f4f4);
}

.bottom {
  position: relative;
  margin: 0px 0px -16px -16px;
  height: max-content;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  width: calc(100vw - 16px);
}

.form {
  height: 100%;
  background: linear-gradient(to bottom, rgba(251, 251, 251, 0.9), white);
  border-radius: 10px;
  padding: 2rem 0rem 0.5rem 0rem;
}

.dev {
  width: 100%;
  height: 400px;
}

.model-div-container{
  width: 21.5vw;
}

.form-footer {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 50px;
  padding: 0rem 7.5rem 0rem 6rem;
}

.button {
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn2 {
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 10px;
  background-color: #bfbfbf;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px #c6c6c626;
  margin: 0 auto;
}

.btn2on {
  border-radius: 5px;
  background-color: #e70101;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 0px #c6c6c626;
  margin: 0 auto;
}

.btn2 .toedit2 {
  display: block;
  text-align: center;
  max-width: 264px;
  font-size: 16px;
  background-color: #e10202;
  color: white;
  border-radius: 10px;
  border: 1px solid transparent;
  line-height: 1.5;
  padding: 12px 40px;
  box-shadow: 0px 0px 10px 0px #00000026;
  transition:
    background-color 0.3s linear,
    border 0.3s linear,
    color 0.3s ease-out;
}

.btn2 .toedit2:hover {
  background-color: white;
  border-color: #e10202;
  color: #e10202;
  box-shadow: 0px 0px 10px 0px #00000026;
  transition:
    background-color 0.9s ease,
    border 0.5s ease,
    color 0.5s ease;
}

.btn2 .toedit2 .disabled {
  pointer-events: none;
  background-color: #7b7b7b;
  color: white;
  box-shadow: 0px 0px 10px 0px #00000026;
  border-radius: 10px;
  cursor: not-allowed;
}

.buttontxt {
  color: #0a0a0a;
  font-family: "Noto Sans JP", sans-serif;
}

.buttontxt2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  border: 0;
  background-color: #ea0202;
  border-radius: 10px;
}

.buttontxt2:disabled {
  cursor: not-allowed;
}

.searchbutton:disabled {
  cursor: not-allowed;
  background-color: #d9d9d9 !important;
  color: black !important;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
}

.searchbutton {
  background-color: #ea0202;
  color: white;
  border-radius: 10px;
}

.red:hover {
  background-color: white !important;
  border: 1px solid #e10202;
  cursor: pointer;
  color: #E10202 !important;
}

.searchbutton-btn:hover {
  background-color: white;
  border: 1px solid #e10202;
  cursor: pointer;
  color: #E10202;
}

.searchbuttonfinal:hover {
  background-color: white;
  border: 1px solid #e10202;
  cursor: pointer;
  color: #E10202;
}

.searchbuttonfinal2:hover {
  background-color: white !important;
  border: 1px solid #e10202 !important;
  cursor: pointer;
}

.searchbuttonfinal2:hover .searchbuttontxt2 {
  background-color: white !important;
  border: none;
  cursor: pointer;
  color: #E10202 !important;
}

.searchbutton-btn:hover .buttontxt333 {
  background-color: white;
  color: #E10202;
  border: none;
}

.btnnn {
  background-color: white; color:black; 
  border:1px solid #bfbfbf !important;
}

.searchbuttonnew2:hover {
  border: 1px solid #E10202;
}

.btnnn:hover {
  color: #E10202;
  border-color: #E10202;
}
.button22222 {
  background-color: white;
    font-weight: 300;
    color: #e10202;
    font-family: 'Noto Sans JP', sans-serif;
    border: 1px solid #E10202;
    border-width: 1px;
    transition: background-color 0.9s ease, border 0.5s ease, color 0.5s ease;
    border-color: #8F98AA;
}

button.searchbutton.btn.buttontxt2.red {
  border-radius: 10px;
}

.searchbutton2 {
  background-color: #bfbfbf;
}

.cancelbutton {
  background-color: #f4f4f4;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.cancelbutton:hover {
  cursor: pointer;
  background-color: white;
    font-weight: 300;
    color: #8F98AA;
    font-family: 'Noto Sans JP', sans-serif;
    border: solid;
    border-width: 1px;
    transition: background-color 0.9s ease, border 0.5s ease, color 0.5s ease;
    border-color: #8F98AA;
}

.btn:hover {
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn {
  height: 2rem;
  width: 8rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.mainHeading {
  font-family: "Noto Sans JP";
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}

.mainheading2{
  font-size: 1.3em;
}

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4%;
}

.image-container img {
  width: 18vw;
}

.section-header {
  font-family: "Noto Sans JP";
  font-size: large;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 0px 7% 0px 7.5%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  --sds-c-icon-color-foreground-default: red !important;
}

.red {
  background-color: #ea0202 !important;
  color: white !important;
}

.red:disabled {
  cursor: not-allowed;
  color: black !important;
  background-color: #D9D9D9 !important;
  border: 1px solid #bfbfbf !important;
}

.left-align {
  padding-left: 6px;
  justify-content: start !important;
  border: 1px solid lightgrey !important;
}

.nav-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  --sds-c-icon-color-foreground-default: grey !important;
}

.upload-icon {
  padding-left: 40px;
  background: var(--upload-icon) no-repeat;
  background-position: 90px 50%;
  background-size: 20px;
}

.form-section {
  display: flex;
}


.disable-editing section {
  pointer-events: none;
}

.disable-editing input {
  pointer-events: none;
}

.disable-editing select {
  pointer-events: none;
}

.disable-editing input:hover {
  cursor: not-allowed;
}

.disable-editing select:hover {
  cursor: not-allowed;
}

.First-Section {
  margin: 3% 0 5% 7.5%;
}

.form-group-ChassisNumber {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.form-group-units {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.addMain {
  font-family: "Noto Sans JP";
  width: 14vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reqtxt {
  color: white;
  font-size: 10px;
  background-color: #e10202;
  padding: 5px 6px;
  width: 45px;
  height: 22px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field-modal {
  font-family: "Noto Sans JP";
  width: 10.2vw;
  height: 50px;
  margin-left: 7px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 3%;
}
.input-field-modal2 {
  font-family: "Noto Sans JP";
  width: 10.2vw;
  height: 50px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 3%;
}

.hide-error {
  display: none;
}

.show-error {
  display: block;
}

.inputlight {
  position: absolute;
  width: 21.3vw;
  top: 0;
  left: 0;
  margin-top: -12px;

  height: 50px;
  --slds-c-input-color-background: #ffffff;

  --slds-c-input-color-border: #ffffff;
}

.inputlight:hover {
  border: none;
}

.input-separator {
  margin: 1% 1% 1% 1.5%;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.heads-exit {
  display: none !important;
}


.input-field1 {
  width: 7vw;
  height: 50px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  margin-right: 1%;
  padding: 3%;
}

.input-field2 {
  font-family: "Noto Sans JP";
  width: 4.4vw;
  height: 50px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  margin-right: 1%;
  padding: 3%;
}
.branch-branch {
  margin-top: 5.2%;
}

.branches-16{
  display: flex;
  align-items: baseline;
}

.input-field3 {
  font-family: "Noto Sans JP";
  width: 3.5vw;
  height: 50px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  margin-right: 1%;
  padding: 3%;
}

.input-field4 {
  font-family: "Noto Sans JP";
  width: 6vw;
  height: 50px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 3%;
}

.input-field {
  font-family: "Noto Sans JP";
  height: 50px;
  width: 21.5vw;
  margin-left: 7px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 3%;
}

.lists2 {
  position: absolute;
  background: white;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  width: 21.5vw;
  max-height: 200px;
  margin-left: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 5px;
  padding: 10px 0px;
  overflow-y: scroll;
}

.inputlight::placeholder {
  color:#bfbfbf !important;
}

.inputreg::placeholder {
  color: #bfbfbf !important;
}

.inputexp::placeholder {
  color: #bfbfbf !important;
}

.Inputs12 {
  width: 10.25vw;
  margin-left: 7px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  height: 50px;
  padding-left: 3%;
}

.Inputs1 {
  cursor: default;
  margin-left: 7px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  width: 21.5vw;
  height: 50px;
  padding-left: 3%;
  background-color: white;
}

.icon {
  padding-left: auto;
  background: var(--dropdown-icon) no-repeat;
  background-size: 20px;
  background-position: 8.25vw 50%;
}

.icon2 {
  padding-left: auto;
  background: var(--dropdown-icon) no-repeat;
  background-size: 20px;
  background-position: 19.1vw 50%;
}

.exittest {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: "Noto Sans JP", sans-serif;
}

.lists {
  position: absolute;
  background: white;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  width: 10.25vw;
  white-space: nowrap;
  margin-left: 5px;
  min-height: 40px;
  max-height: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 5px;
  padding: 10px 0px;
  overflow-y: scroll;
}

.dataScroll {
  overflow-y: auto;
  padding-top: 10px;
  margin-left: 1vw;
  font-size: 12px;
  font-family: "Noto Sans JP", sans-serif;
  max-height: 150px;
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  border-radius: 8px;
  align-items: center;
  width: 10.25vw;
}

.scrollbar {
  max-height: 100%;
  overflow-y: auto;
  width: 95%;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #d1d0d0;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d1d0d0;
}

.record-item {
  margin-bottom: 10px;
  font-family: "Noto Sans JP", sans-serif;
  white-space: nowrap;
}

.empty1 {
  margin-left: 16px;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 2px;
  color: #cdcdcd;
}

.filtericn {
  --sds-c-icon-color-foreground-default: #e10202;
  --sds-c-icon-color-foreground: #e10202;
  margin-right: 7px;
  margin-left: 17px;
}

.form-group-wr {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.form-group-branch {
  display: flex;
  margin-bottom: 5%;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.list-item {
  padding: 10px;
  cursor: pointer;
  font-family: "Noto Sans JP", sans-serif;
}

.list-item:hover {
  color: #e10202;
  background-color: #f4f4f4;
}

.no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input-field-combo {
  font-family: "Noto Sans JP", sans-serif;
  height: 50px;
  width: 21.5vw;
  margin-left: 1%;
  border-radius: 8px;
  color: black;
  border: 1px solid lightgrey;
  padding: 3%;
}

.Second-Section {
  margin: 3% 7.5% 5% 0;
}

.input-field-disc {
  font-family: "Noto Sans JP", sans-serif;
  width: 16vw;
  height: 50px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  margin-right: 1%;
  padding: 3%;
}

.form-group-Displacement {
  display: flex;
  margin-bottom: 5%;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin-left: 7px;
}

.disp-label {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.input-field-combo-Displacement {
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 8px;
  width: 5vw;
  height: 50px;
  border: 1px solid lightgrey;
  padding: 3%;
}

.stack {
  width: 22vw;
}

.form-group-units-Weight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38.7vw;
}

.input-field-wt {
  font-family: "Noto Sans JP", sans-serif;
  width: 8vw;
  height: 50px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  margin-right: 2%;
  padding: 3%;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1%;
  width: 10vw;
  justify-content: end;
}

.input-label {
  display: flex;
  justify-content: end;
  width: 10vw;
}

.LengthWidthHeight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field-cm {
  font-family: "Noto Sans JP", sans-serif;
  width: 4vw;
  height: 50px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 3%;
}

.input-label-cm {
  width: 10vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.unit {
  margin-left: 2%;
}

.input-field-mil {
  font-family: "Noto Sans JP", sans-serif;
  height: 50px;
  width: 18.9vw;
  margin-left: 7px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 3%;
}

.input-field-img:hover {
  cursor: pointer;
}

.input-field-img {
  font-family: "Noto Sans JP", sans-serif;
  height: 50px;
  width: 21.5vw;
  margin-left: 7px;
  border-radius: 8px;
  border: 1.5px dashed #e10202;
  box-shadow: 0px 0px 10px 0px #00000026;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e10202;
  gap: 5px;
  white-space: nowrap;
}

.input-field-img::placeholder {
  color: #e10202;
  text-align: center;
}

.input-field::placeholder {
  color: #bfbfbf;
  opacity: 0.5;
}

.input-field-mil::placeholder {
  color: #bfbfbf;
}

.form-margin {
  margin-bottom: 5.5% !important;
}

.modal-window {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  max-width: 90%;
  height: max-content;
  width: max-content;
  max-height: 90%;
  overflow-y: auto;
}

.modal-window2 {
  max-height: 90%;
  background-color: rgba(251, 251, 251, 1);
  border-radius: 10px;
  padding: 15px;
  width: max-content;
  overflow-y: auto;

  max-width: 90%;
  /* Max width to ensure it fits on screen */
  height: max-content;
}

.modal-background-confirm {
  background-color: rgba(251, 251, 251, 1);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: var(--modal-width, 60%);
  /* Default width: 50% */
  height: var(--modal-height, 65%);
  /* Default height: 50% */
  max-width: 90%;
  /* Max width to ensure it fits on screen */
  max-height: 90%;
  /* Max height to ensure it fits on screen */
  overflow: auto;
}

.modal-background-exit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(251, 251, 251, 1);
  border-radius: 8px;
  padding: 33px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: var(--modal-width, 65%);
  /* Default width: 50% */
  height: var(--modal-height, 65%);
  /* Default height: 50% */
  max-width: 512px;
  /* Max width to ensure it fits on screen */
  max-height: 344px;
  /* Max height to ensure it fits on screen */
  overflow: auto;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  /* Ensure it is on top */
}

.buttons-small {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.heads {
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.gaps {
  margin-top: 25px;
}

.input-field-combo option[selected] {
  color: gray;
}

.superfun {
  font-family: "Noto Sans JP", sans-serif;
}

.headmeow {
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 10px;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
}

.container2 {
  display: flex;
  flex-direction: column;
  height: 475px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.content2 {
  flex: 1;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer2 {
  margin-bottom: 20px;
}

.dataDrop {
  background-color: white;
}

.input-field1::placeholder {
  opacity: 0.5;
}

.input-field2::placeholder {
  opacity: 0.5;
}

.input-field3::placeholder {
  opacity: 0.5;
}

.input-field4::placeholder {
  opacity: 0.5;
}

.input-field-modal::placeholder {
  opacity: 0.5;
}
.input-field-modal2::placeholder {
  opacity: 0.5;
}

input::placeholder {
  opacity: 0.5 !important;
}

.slds-input::placeholder {
  opacity: 0.5 !important;
}

.Inputs12::placeholder {
  opacity: 1 !important;
}

.page-button-color {
  background-color: #e10202;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: white;
  border-radius: 5px;
}

.page-button-color-no-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.travellingicon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-btn {
  background-color: #f4f4f4 !important;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cancel-btn:hover {
  background-color: white;
    font-weight: 300;
    color: #8F98AA;
    font-family: 'Noto Sans JP', sans-serif;
    border: solid;
    border-width: 1px;
    transition: background-color 0.9s ease, border 0.5s ease, color 0.5s ease;
    border-color: #8F98AA;
}

ul {
  list-style-type: circle;
}


.searchbuttonnew {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #e10202;
  border-radius: 10px;
  height: 2rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

/* Hover state */
.searchbuttonnew:hover {
  background-color: white;
  color: #E10202;
  border: 1px solid #E10202;
}

/* Disabled state */
.searchbuttonnew:disabled {
  cursor: not-allowed;
  background-color: #d9d9d9;
  color: black;
  border: 1px solid #bfbfbf;
}

.img-head {
  width: 100%;
}

input.Inputs12.icon:hover {
  cursor: pointer;
}

.Inputs1:hover {
  cursor: pointer;
}

.disable-editing lightning-input {
  pointer-events: none;
}

.disable-editing .filtericn {
  pointer-events: none !important;
}

.light-placeholder {
  opacity: 0.5;
}

.normal-placeholder {
  opacity: 1;
}

.chassis-color {
  background-color: #f4f4f4;
}

.invalid-input {
  outline: solid 2px #e10202;
  background-color: #feeeed !important;
}

/* Base styles for the normal state */
.button-save-100 {
  height: 2rem;
  width: 8rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  border: 1px solid #bfbfbf;
  cursor: pointer; /* Default cursor */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

/* Hover state */
.button-save-100:hover {
  color: #E10202;
  border-color: #E10202;
  background-color: white;
  cursor: pointer;
}

/* Disabled state */
.button-save-100:disabled,.button-final-100:disabled {
  cursor: not-allowed;
  background-color: #d9d9d9;
  color: black;
  border: 1px solid #bfbfbf;
}

.button-final-100 { 
  background-color: red;
  color: white;
}


@media (max-width: 1920px) and (min-width: 1800px) {
  .input-field{
    width: 17.5vw;
  }
  .input-field1{
    width: 6vw;
  }
  .input-field2{
    width: 3.4vw;
  }
  .input-field3{
    width: 2.5vw;
  }
  .input-field4{
    width: 5vw;
  }
  .inputlight{
    width: 17.3vw;
  }
  .section-header{
    padding: 0px 6.5% 0px 7.5%;
  }
  .input-field-modal{
    width: 8.2vw;
  }
  .input-field-modal2{
    width: 8.2vw;
  }
  .input-field-img{
    width: 17.5vw;
  }
  .input-field-mil{
    width: 15.9vw;
  }
  .Inputs12{
    width: 8.25vw;
  }
  .addMain{
    width: 12vw;
  }
  .dataScroll{
    width: 8.25vw;
  }
  .Inputs1{
   width: 17.5vw;
  }
  .lists2{
    width: 17.5vw;
  }
  .icon2{
    background-position: 15.79vw;
  }
  .icon{
    background-position: 8.25rem 50%;
  }
  .lists{
    width: 8.25vw;
  }
  .mileagefirst {
    margin-bottom: 11%;
  }
  .mileagesecond {
    margin-bottom: 11%;
  }
}
@media (max-width: 1799px) and (min-width: 1601px) {
  .section-header{
    padding: 0px 5.8% 0px 4.5%;
  }
  .input-field{
    width: 20.5vw;
  }
  .input-field1{
    width: 7vw;
  }
  .input-field2{
    width: 4.4vw;
  }
  .input-field3{
    width: 3vw;
  }
  .input-field4{
    width: 5.3vw;
  }
  .inputlight{
    width: 20.3vw;
  }
  .input-field-modal{
    width: 9.7vw;
  }
  .input-field-modal2{
    width: 9.2vw;
  }
  .input-field-img{
    width: 20.5vw;
  }
  .input-field-mil{
    width: 18.5vw;
  }
  .Inputs12{
    width: 9.25vw;
  }
  .addMain{
    width: 13vw;
  }
  .dataScroll{
    width: 10.5vw;
  }
  .Inputs1{
   width: 20.6vw;
  }
  .lists2{
    width: 20.6vw;
  }
  .icon2{
    background-position: 18.6vw;
  }
  .icon{
    background-position: 8.1rem 50%;
  }
  .lists{
    width: 9.25vw;
  }
  .First-Section{
    margin: 3% 0% 5% 4.5%;
  }
  .Second-Section{
    margin: 3% 4.5% 5% 0%;
  }
  .mileagefirst {
    margin-bottom: 11%;
  }
  .mileagesecond {
    margin-bottom: 11%;
  }
}
@media (max-width: 1600px) and (min-width: 1538px) {
  .section-header{
    padding: 0px 6.2% 0px 7.5%;
  }
  .input-field{
    width: 20.5vw;
  }
  .input-field1{
    width: 7vw;
  }
  .input-field2{
    width: 4.4vw;
  }
  .input-field3{
    width: 3vw;
  }
  .input-field4{
    width: 5.3vw;
  }
  .inputlight{
    width: 20.3vw;
  }
  .input-field-modal{
    width: 9.7vw;
  }
  .input-field-modal2{
    width: 9.2vw;
  }
  .input-field-img{
    width: 20.5vw;
  }
  .input-field-mil{
    width: 18.5vw;
  }
  .Inputs12{
    width: 9.25vw;
  }
  .addMain{
    width: 13vw;
  }
  .dataScroll{
    width: 10.5vw;
  }
  .Inputs1{
   width: 20.6vw;
  }
  .lists2{
    width: 20.6vw;
  }
  .icon2{
    background-position: 18.6vw;
  }
  .icon{
    background-position: 7.25rem 50%;
  }
  .lists{
    width: 9.25vw;
  }
  .mileagefirst {
    margin-bottom: 11%;
  }
  .mileagesecond {
    margin-bottom: 11%;
  }

}
@media (max-width: 1537px) and (min-width: 1281px) {
  .section-header{
    padding: 0px 6% 0px 7.5%;
  }
  .inputlight{
    width: 21.3vw;
  }
  .First-Section{
    margin: 3% 0% 5% 5.5%;
  }
  .Second-Section{
    margin: 3% 5.5% 5% 0%;
  }
  .mileagefirst {
    margin-bottom: 11%;
  }
  .mileagesecond {
    margin-bottom: 11%;
  }
}
@media (max-width: 1281px) {
  .mileagefirst {
    margin-bottom: 11%;
  }
  .mileagesecond {
    margin-bottom: 11%;
  }
}
@media (max-width: 1170px) {
  .section-header{
    padding: 0px 6% 0px 7.5%;
  }
  .icon2{
    background-position: 18.9vw 50%;
  }
  .mileagefirst {
    margin-bottom: 13%;
  }
  .mileagesecond {
    margin-bottom: 12%;
  }
}
@media (max-width: 1024px){
  .addMain{
    font-size: 10px;
    white-space: nowrap;
  }
  .icon2{
    background-size: 20px;
    background-position: 18.5vw 50%;
  }
  .icon{
    background-size: 20px;
    background-position: 5rem 50%;
  }
  .mileagefirst {
    margin-bottom: 15%;
  }

  .mileagesecond {
    margin-bottom: 14%;
  }
}
@media (max-width: 864px) {
  .icon{
    background-position: 4rem 50%;
  }
  .Inputs12{
    padding-left: 3%;
  }
  .icon2{
    background-position: 17.9vw 50%;
  }
  .mileagefirst {
    margin-bottom: 32%;
  }
  .mileagesecond {
    margin-bottom: 18%;
  }
  .show-error {
    font-size: 10px;
  }
}