*{
    font-family: 'Noto Sans JP', sans-serif;
}
.main {
    position: relative;
    width: calc(100vw - 16px);
    margin: -16px 0 0 -16px;
    height: max-content;
  }
   
  .half {
    width: 100%;
    left: 0;
  }
  .top {
    height: 96vh;
    background-color: #f4f4f4;
    background: linear-gradient(to bottom, #BFBFBF, #F4F4F4);
  }
   
  .bottom {
    position: relative;
    height: max-content;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    width: calc(100vw - 16px);
  }
  .center-content {
    position: relative;
    height: 100%;
    margin-top: -82.5vh;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .main_image{
    width: 100%;
    height: 100%;
  }
.mainveh{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px 10px;
    background-color: rgba(251, 251, 251, 0.9);
    border-radius: 8px;
}
.Header{
 display: flex;
 flex-direction: row;
 height: 10%;
 width: 98%;
 align-items: center;
 padding: 0px 10px;
}
.Vehicle_list{
 display: flex;
 height: 80%;
 width: 98%;
 padding: 10px;
}
.Vehicle_list_container{
    display: flex;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
.Vehicle_list_container::-webkit-scrollbar {
    width: 10px; 
}

.Vehicle_list_container::-webkit-scrollbar-track {
    background: #F4F4F4; 
    border-radius: 10px;
}

.Vehicle_list_container::-webkit-scrollbar-thumb {
    background: #BBBBBB; 
    border-radius: 12px;
}
.Vehicle_list_container::-webkit-scrollbar-thumb:hover {
    background: #828282; 
}
.VehCount{
    margin-right: auto;
}
.filter{
    display: flex;
    flex-direction: row;
}
.buttons{
display: flex;
flex-direction: row;
height: 10%;
width: 98%;
align-items: center;
padding: 0px 10px;
}
@media only screen and (max-width: 768px) {
    .head{
        font-size: 6px;
    }
    .Datahead{
        font-size: 6px;
    }
}
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    margin-left: auto;
    border: 1px solid #d7d7d7;
    padding: 8px;
}
.btn:hover{
    cursor: pointer;
}
.ftext{
    margin-left: 5px;
    margin-bottom: 1px;
    color: #0A0A0A; 
    margin-top: 4px;
}


.slds-icon-text-default {
    --slds-c-icon-color-foreground: rgb(0 0 0);
}
.filter-icn{
    --sds-c-icon-color-foreground-default: #0A0A0A; 
    --sds-c-icon-color-foreground: #0A0A0A; 
    --sds-c-icon-color-background: #ffffff00; 
    margin-top: 5px;
 }
 .filter:hover {
    cursor: pointer; 
}
 
 .filter:hover .filter-icn {
    --sds-c-icon-color-foreground-default: #E10202; 
    --sds-c-icon-color-foreground: #E10202; 
    --sds-c-icon-color-background: #ffffff00; 
}

.filter:hover .ftext {
    color: #E10202;
}
.btngrp{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
}
.write{
    display: flex;
 margin-right:25px;
 align-items: center;
}
.print{
    display: flex;
margin-right:25px;
}
.download{
    display: flex;
    margin-right:25px;
    align-items: center;
}

.write:hover {
    cursor: pointer; 
}

.write:hover .filter0-icn {
    --sds-c-icon-color-foreground-default: #E10202; 
    --sds-c-icon-color-foreground: #E10202; 
    --sds-c-icon-color-background: #ffffff00; 
    color: #E10202; 
}

.write:hover .ftext {
    color: #E10202;
}


.print:hover {
    cursor: pointer; 
}

.print:hover .filter0-icn {
    --sds-c-icon-color-foreground-default: #E10202; 
    --sds-c-icon-color-foreground: #E10202; 
    --sds-c-icon-color-background: #ffffff00; 
}

.print:hover .ftext {
    color: #E10202;
}


.download:hover {
    cursor: pointer; 
}

.download:hover .filter0-icn {
    --sds-c-icon-color-foreground-default: #E10202; 
    --sds-c-icon-color-foreground: #E10202; 
    --sds-c-icon-color-background: #ffffff00; 
     
}

.download:hover .ftext {
    color: #E10202;
}
.search-box {
    width: 170px;  
    height: 10px;        
    padding: 10px 0px;         
    background-color: #ffffff; 
    border: none;          
    border-radius: 0;      
    box-sizing: border-box; 
}

.search-box::placeholder {
    color: #888888;        
}
 .search{
    margin-right: 25px;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    align-items: center;
 }
 .srch-icn{
    margin-right: 8px;
    --sds-c-icon-color-foreground-default: #0A0A0A; 
    --sds-c-icon-color-foreground: #0A0A0A; 
    --sds-c-icon-color-background: #ffffff00; 
 }
 .right{
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
 }
 .filter0-icn{
    --sds-c-icon-color-foreground-default: #0A0A0A; 
    --sds-c-icon-color-foreground: #0A0A0A; 
    --sds-c-icon-color-background: #ffffff00; 
    margin-top: 5px;
 }
 .imgs1{
    width: 36%;
    height: 40%;
    margin-top: 2px;
    
}
.imgs2{
    width: 20%;
    height: 20%;
    margin-top: 3px;
}

 .new1{
    height: 800px;
    width: 100px;
 }
 .search-box:focus {
    outline: none; 
}

 .card{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: max-content; */
    background-color: white;
    margin-right: 15px;
    border-color: #ffffff;
    margin-bottom: 15px;
    /* align-items: center;
    justify-content: center; */
    transition: border-color 0.5s ease;
    padding: 8px 8px 15px 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 12px 0px rgba(224, 224, 224, 1);
 }
 .card:hover{
    border: 1.7px solid #E10202;
    cursor: pointer;
    ;
 }
 .data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    width: 12%;
    height: 80%;
    color: #888888;
 }
 .container-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 66vh;
    margin-right: 10px;
 }
 .head{
    font-size: 12px;
 }
 .Datahead{
    margin-top: 5px;
    color: #0A0A0A;
    width: 100%;
    font-size: 12px;
    text-align: center;
 }
 .details{
    display: flex;
    height: 70%;
    gap: 10px;
 }
 .headerno{
    display: flex;
    height: 15%;
 }
 .image{
    justify-content: center;
 }
 .notifications{
    display: flex;
    height: 15%;
 }

 
@media screen and (max-width: 1400px) and (min-width: 1025px) {
    .center-content{
        margin-top: -82.5vh;
    }

}

/* Styles for screens between 1023px and 768px */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .center-content{
        margin-top: -81.5vh;
    }
    .head{
        font-size: 11px;
    }
    .Datahead{
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .center-content{
        margin-top: -85.5vh;
    }
    .head{
        font-size: 6px;
    }
    .Datahead{
        font-size: 6px;
    }
}

/* master queries of screen zoom in and out */
@media (max-width: 2560px) {
    .center-content{
        margin-top: -88.5vh;
        width: 76%;
    }
}
@media (max-width: 1920px) {
    .center-content{
        margin-top: -85.5vh;
        width: 79%;
    }
}
@media (max-width: 1707px) {
    .center-content{
        margin-top: -84.5vh;
        width: 82%;
    }
}
@media (max-width: 1686px) {
    .center-content{
        margin-top: -84vh;
        width: 84%;
    }
}
@media (max-width: 1600px) {
    .center-content{
        margin-top: -83.5vh;
        width: 85%;
    }
}

@media (max-width: 1536px) {
    .center-content{
        margin-top: -82.5vh;
        width: 87%;
    }
}

@media (max-width: 1280px) {
    .center-content{
        margin-top: -81.5vh;
        width: 90%;
    }
}
@media (max-width: 1170px) {
    .center-content{
        margin-top: -80.5vh;
    }
}
@media (max-width: 1000px) {
    .center-content{
        margin-top: -80.5vh;
    }
}
@media (max-width: 1024px) {
    .center-content{
        margin-top: -79vh;
    }
}
@media (max-width: 864px) {
    .center-content{
        margin-top: -76vh;
    } 
}
@media (max-width: 768px) {
    .center-content{
        margin-top: -75vh;
    }
}
@media (max-width: 640px) {
    .center-content{
        margin-top: -73vh;
    }
}
@media only screen and (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
    .center-content{
        margin-top: -88.6vh;
    }
}
@media only screen and (min-width: 820px) and (max-width: 820px) and (min-height: 1180px) and (max-height: 1180px) {
    .center-content{
        margin-top: -89.4vh;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) {
    .center-content{
        margin-top: -90.2vh;
    }
}
@media only screen and (min-width: 912px) and (max-width: 912px) and (min-height: 1368px) and (max-height: 1368px) {
    .center-content{
        margin-top: -90.2vh;
    }
}
@media only screen and (min-width: 1114px) and (max-width: 1114px) and (min-height: 720px) and (max-height: 720px) {
    .center-content{
        margin-top: -80.2vh;
    }
}