* {
    font-family: 'Noto Sans JP', sans-serif;
}

.main {
    position: relative;
    width: calc(100vw - 16px);
    margin: -16px 0 0 -16px;
    height: max-content;
}

.half {
    width: 100%;
    left: 0;
}

.top {
    height: 96vh;
    background: linear-gradient(to bottom, #BFBFBF, #F4F4F4);
}

.bottom {
    position: relative;
    height: max-content;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    width: calc(100vw - 16px);
}

.center-content {
    position: relative;
    height: 100%;
    margin-top: -82.5vh;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;

}

.main-vehicle-list {
    display: flex;
    gap: 10px;
}

.main_image {
    width: 100%;
    height: 100%;
}

.mainveh {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background-color: rgba(251, 251, 251, 0.9);
    border-radius: 8px;
}

.Header {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 96%;
    align-items: center;
    padding: 0px 10px 0px 0px;
}

.Vehicle_list {
    display: flex;
    height: 80%;
    width: 98%;
    padding: 10px;
}

.Vehicle_list_container {
    display: flex;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.Vehicle_list_container::-webkit-scrollbar {
    width: 10px;
}

.Vehicle_list_container::-webkit-scrollbar-track {
    background: #F4F4F4;
    border-radius: 10px;
}

.Vehicle_list_container::-webkit-scrollbar-thumb {
    background: #BBBBBB;
    border-radius: 12px;
}

.Vehicle_list_container::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

.mm-filter-dropdown::-webkit-scrollbar {
    width: 10px;
    /* Vertical scrollbar width */
    height: 10px;
    /* Horizontal scrollbar height */
}

.mm-filter-dropdown::-webkit-scrollbar-track {
    background: #F4F4F4;
    border-radius: 10px;
}

.mm-filter-dropdown::-webkit-scrollbar-thumb {
    background: #BBBBBB;
    border-radius: 12px;
}

.mm-filter-dropdown::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

.mm-filter-dropdown::-webkit-scrollbar:horizontal {
    height: 8px;
    /* Set the height for horizontal scrollbar */
}

.mm-filter-dropdown::-webkit-scrollbar-track:horizontal {
    background: #F4F4F4;
}

.mm-filter-dropdown::-webkit-scrollbar-thumb:horizontal {
    background: #BBBBBB;
    border-radius: 12px;
}

.mm-filter-dropdown::-webkit-scrollbar-thumb:horizontal:hover {
    background: #828282;
}


.VehCount {
    margin-right: auto;
    margin-bottom: 10px;
}

.VehCount p:nth-child(1) {
    color: #0a0a0a;
    font-weight: bold;
    font-size: 15px;
    cursor: default;
}

.VehCount p:nth-child(2):hover {
    color: #E10202;
    cursor: default;
}

.filter {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
}

.sort-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 98%;
    align-items: center;
    padding: 0px 10px;
}


/*Branch selection drop down*/
.branch-selection-container {
    position: absolute;
    top: 34px;
    box-shadow: 0px 0px 10px 0px #00000026;
    border-radius: 10px;
    padding: 16px 8px 8px 16px;
    background-color: white;
    width: 175px;
    z-index: 10;
}

.sorting-selection-container {
    position: absolute;
    top: 34px;
    box-shadow: 0px 0px 10px 0px #00000026;
    border-radius: 10px;
    padding: 16px 8px 8px 16px;
    background-color: white;
    width: 240px;
    z-index: 10;
    right: 0;
}

.mm-filter-dropdown {
    max-height: 208px;
    background-color: white;
    overflow: auto;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    gap: 15.4px;
    font-size: 16px;
    padding-bottom: 8px;
}

.mm-filter-dropdown-rows {
    display: flex;
    gap: 10px;
    align-items: center;
}

.mm-filter-dropdown-rows input {
    accent-color: #e10202;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}



.mm-filter-dropdown-rows p {
    font-weight: 400;
}






@media only screen and (max-width: 768px) {
    .head {
        font-size: 6px;
    }

    .Datahead {
        font-size: 6px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-left: auto;
    gap: 0.2rem;
}

.btn:hover {
    cursor: pointer;
}

.ftext {
    margin-left: 8px;
    margin-bottom: 1px;
    color: #0A0A0A;
    margin-top: 4px;
    text-wrap: nowrap;
}

.ftext-disable {
    margin-left: 8px;
    margin-bottom: 1px;
    color: #7B7B7B;
    margin-top: 4px;
    text-wrap: nowrap;
    cursor: auto;
}

.ftextNew {
    margin-bottom: 1px;
    color: #0A0A0A;
    white-space: nowrap;
}



.pagination-offset-heading {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.pagination-offset-container {
    display: flex;
    gap: 12px;
}

.pagination-offset {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 16px;
}

.drop-down-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    gap: 3px;
    height: 40px;
    width: 80px;
    cursor: pointer;
}

.drop-down-text {
    font-weight: 700;
    color: black;
}

.drop-down-list {
    position: absolute;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #00000026;
    border-radius: 10px;
    top: 44px;
    left: 0;
    background-color: white;
}

.drop-down-element {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: white;
    padding: 5px;
    border-radius: 10px
}









.slds-icon-text-default {
    --slds-c-icon-color-foreground: rgb(0 0 0);
}

.filter-icn {
    --sds-c-icon-color-foreground-default: #0A0A0A;
    --sds-c-icon-color-foreground: #0A0A0A;
    --sds-c-icon-color-background: #ffffff00;
    margin-top: 5px;
}

.filter:hover {
    cursor: pointer;
}

.filter:hover .filter-icn {
    --sds-c-icon-color-foreground-default: #E10202;
    --sds-c-icon-color-foreground: #E10202;
    --sds-c-icon-color-background: #ffffff00;
}

.filter:hover .ftext {
    color: #E10202;
}

.btngrp {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 32px;
}


.write {
    display: flex;
    align-items: center;
}

.print {
    display: flex;
    align-items: center;
}

.download {
    display: flex;
    align-items: center;
}

.downloadtruck {
    fill: black;
}

.download:hover .downloadtruck {
    fill: red;
}

.write:hover {
    cursor: pointer;
}

.imgsnew {
    width: 28%;
    height: 40%;
}

.write:hover .filter0-icn {
    --sds-c-icon-color-foreground-default: #E10202;
    --sds-c-icon-color-foreground: #E10202;
    --sds-c-icon-color-background: #ffffff00;
    color: #E10202;
}

.write:hover .ftext {
    color: #E10202;
}


.print:hover {
    cursor: pointer;
}

.print:hover .filter0-icn {
    --sds-c-icon-color-foreground-default: #E10202;
    --sds-c-icon-color-foreground: #E10202;
    --sds-c-icon-color-background: #ffffff00;
}

.print:hover .ftext {
    color: #E10202;
}


.download:hover {
    cursor: pointer;
}

.download:hover .filter0-icn {
    --sds-c-icon-color-foreground-default: #E10202;
    --sds-c-icon-color-foreground: #E10202;
    --sds-c-icon-color-background: #ffffff00;

}

.download:hover .ftext {
    color: #E10202;
}

.search-box {
    width: 100%;
    height: 10px;
    padding: 10px 0px;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
}

.search-box::placeholder {
    color: rgba(187, 187, 187, 1);
    font-size: 12px;
}

.search {
    padding: 0.5rem;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 260px;
    position: relative;
    height: 42px;
}

.srch-icn {
    margin-right: 8px;
    --sds-c-icon-color-foreground-default: #0A0A0A;
    --sds-c-icon-color-foreground: #0A0A0A;
    --sds-c-icon-color-background: #ffffff00;
}

.right {
    display: flex;
    gap: 16px;
    margin-left: auto;
    align-items: center;
}

.filter0-icn {
    --sds-c-icon-color-foreground-default: #0A0A0A;
    --sds-c-icon-color-foreground: #0A0A0A;
    --sds-c-icon-color-background: #ffffff00;
    margin-top: 5px;
}

.imgs1 {
    width: 36%;
    height: 40%;
    margin-top: 2px;

}

.imgs1new {
    width: 25%;
    height: 40%;
    margin-top: 2px;
}

.imgs2 {
    width: 20%;
    height: 20%;
    margin-top: 3px;
}

.new1 {
    height: 800px;
    width: 100px;
}

.search-box:focus {
    outline: none;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    background-color: white;
    margin-right: 15px;
    border-color: #ffffff;
    margin-bottom: 15px;
    position: relative;
    transition: border-color 0.5s ease;
    padding: 8px 8px 0px 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 12px 0px rgba(224, 224, 224, 1);
}


.card:hover {
    border: 1.7px solid #E10202;
    cursor: pointer;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 5px;
    /* width: 12%; */
    height: 80%;
    color: #888888;
}



.container-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    margin-right: 10px;
}

.head {
    font-size: 12px;
    text-wrap: nowrap;
}

.Datahead {
    margin-top: 5px;
    color: #0A0A0A;
    width: 100%;
    font-size: 12px;
    text-wrap: nowrap;
}

.Datahead-deleted {
    color: #888888;
    margin-top: 5px;
    width: 100%;
    font-size: 12px;
}

.nextdate .Datahead {
    color: #E10202 !important;
}

.nextdate-deleted .Datahead {
    color: #E10202 !important;
}

.addition {
    width: 100px;
}

.addition-deleted {
    width: 100px;
}

.details {
    display: flex;
    /* height: 70%; */
    border-radius: 3px;
    gap: 10px;
    /* padding: 0rem 0rem 0rem 0.5rem; */
}

.details-deleted {
    display: flex;
    /* height: 70%; */
    border-radius: 3px;
    gap: 3px;
}

.deleted-colorright {
    background-color: rgba(244, 244, 244, 1);
    display: flex;
    border-radius: 3px;
    gap: 9px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    /* margin-left: 6px; */
}

.headerno {
    display: flex;
    height: 15%;
    padding: 0rem 1rem 0rem 0.5rem;
}


.image {
    border-radius: 3px;
    width: 8.611%;
}

.data-image {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.notifications {
    display: flex;
}

.vehnotext {
    font-weight: bolder;
    color: #7B7B7B;
    font-size: 18px;
}

.VehNo {
    display: flex;
    gap: 8px;
    margin-right: auto;
    align-items: center;
}

.back-icon {
    --sds-c-icon-color-foreground-default: #7B7B7B;
    color: #7B7B7B;
}

.suggestion-list .suggestion-item:nth-child(1) {
    background-color: #f4f4f4;
}

.suggestion-list {
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 0px 10px 0px #00000026;
}

.suggestion-item {
    display: flex;
    height: 42px;
    padding-left: 15px;
    align-items: center;
    cursor: pointer;
}

.suggestion-item:hover {
    color: #E10202;
}

.no-vehicle-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.deletetruck {
    fill: black;
}

.write:hover .deletetruck {
    fill: red;
}

.printtruck {
    fill: black;
}

.print:hover .printtruck {
    fill: red;
}

/* modal css */
/* download modal */

.modal-background-last {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 109;
}

.modal-background-last-conf {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 110;
}

.modal-background-filter-last {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 109;
}

.modal-open {
    overflow: hidden;
}

.modal-window-small {
    background-color: rgba(251, 251, 251, 1);
    border-radius: 8px;
    padding: 1rem 3rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.warning {
    width: 100%;
    height: 64%;
    display: flex;
    padding: 3rem;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.buttons-small-download {
    height: 36%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding-top: 10px;
}

.btn-download {
    height: 2rem;
    width: 8rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelbutton-download {
    background-color: #f4f4f4;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cancelbutton-download:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.buttontxt {
    color: #0A0A0A;
    font-family: 'Noto Sans JP', sans-serif;
}

.buttontxt2 {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.searchbutton-download {
    background-color: #ea0202;
}

.searchbutton-download:hover {
    background-color: white;
    border: 1px solid #e10202;
    cursor: pointer;
}

.searchbutton-download:hover .buttontxt2 {
    cursor: pointer;
    color: #E10202;
}

.modal-window-loader {
    background-color: rgba(251, 251, 251, 1);
    border-radius: 8px;
    padding: 3.5rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.radio-button-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
}

.options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Download-radio-buttons {
    accent-color: #E10202;
}

.Download-name {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: 19.5rem;
    height: 40px;
    padding-left: 17px;
}

.Download-name-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.Heading-download {
    font-weight: bold;
    margin-bottom: 8px;
}

.label-end {
    margin: 10px 0px;
}

/* sort */
.sorting-radio-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 12px;
}

.sorting-radio-colors {
    accent-color: #ea0202;
    cursor: pointer;
}

.sort-major {
    display: flex;
    gap: 4px;
    align-items: center;
}

.buttons-sorting {
    display: flex;
    justify-content: space-between;
}

.radio-containers-of-sort {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.deleted-img-text{
    font-size: medium;
}
.deleted{

}

.btn-sorting-veh-Main {
    height: 1.8rem;
    width: 4rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* filter modal  */
.modal-background-filter-last {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 109;
}

.modal-window-Filter-Modal {
    background-color: rgba(251, 251, 251, 1);
    border-radius: 8px;
    padding: 1rem 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90%;
    z-index: 110;
    margin: 90px 109px 0px 0px;
    height: 85vh;
    min-width: 25%;
}

.searchbutton-download {
    background-color: #ea0202;
}

.searchbutton-download:hover {
    background-color: white;
    border: 1px solid #e10202;
    cursor: pointer;
}

.buttons-small {
    height: 36%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 28px;
    padding-top: 10px;
}

.closeIcon {
    --sds-c-icon-color-foreground-default: #0A0A0A;
    --sds-c-icon-color-foreground: #0A0A0A;
    cursor: pointer;
}

.Filter-header-button-close {
    display: flex;
    /* border-left: 1.4px solid rgba(0, 0, 0, 0.2); @future */
    padding: 0px 0px 0px 5px;
}

.Filter-header-button-Pin {
    padding-right: 5px;
}

.Header-filter-modal {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    margin-bottom: 10px;
    border-bottom: 1.5px solid rgb(0, 0, 0, 0.1);
}

.Filter-Name-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 315px;
    overflow-y: scroll;
    height: 82%;
    margin-top: 20px;
}

.Filter-Name-container-window {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    min-height: 70%;
    margin-top: 20px;
}

.filter-checkbox-color {
    accent-color: #e10102;
    cursor: pointer;
}

.Filter-Picklist-ondemand {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn-download {
    height: 2rem;
    width: 8rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttontxt2 {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.searchbutton-download:hover .buttontxt2 {
    cursor: pointer;
    color: #E10202;
}

.Filter-Name-container::-webkit-scrollbar {
    width: 10px;
}

.Filter-Name-container::-webkit-scrollbar-track {
    background: #F4F4F4;
    border-radius: 10px;
}

.Filter-Name-container::-webkit-scrollbar-thumb {
    background: #BBBBBB;
    border-radius: 12px;
}

.Vehicle_list_container::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

.Filter-btns {
    display: flex;
    align-items: center;
}

.buttons-filter-small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
    padding-top: 20px;
}

.filter-reset-button {
    display: flex;
    gap: 3px;
    align-items: center;
    cursor: pointer;
}

.btn-Filter-Main {
    height: 1.8rem;
    width: 6rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-pinned-window {
    background-color: rgba(251, 251, 251, 0.9);
    border-radius: 8px;
    padding: 1rem 1rem 2rem;
    min-width: 28%;
    height: 96vh;
}

.dropdown-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    width: max-content;
}

.dropdown-input-container .dropdown-input-container-text {
    cursor: default;
    border: 1px solid #d9d9d9;
    padding: 10px 14px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    min-width: 283px;
}

.mm-drop-down-icon1 {
    position: absolute;
    right: 5px;
}

.mm-filter-dropdown::-webkit-scrollbar,
.mm-filter-dropdown1::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.mm-filter-dropdown::-webkit-scrollbar-track,
.mm-filter-dropdown1::-webkit-scrollbar-track {
    background: #F4F4F4;
    border-radius: 10px;
}

.mm-filter-dropdown::-webkit-scrollbar-thumb,
.mm-filter-dropdown1::-webkit-scrollbar-thumb {
    background: #BBBBBB;
    border-radius: 12px;
}

.mm-filter-dropdown::-webkit-scrollbar-thumb:hover,
.mm-filter-dropdown1::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

.mm-filter-dropdown::-webkit-scrollbar:horizontal,
.mm-filter-dropdown1::-webkit-scrollbar:horizontal {
    height: 8px;
    /* Set the height for horizontal scrollbar */
}

.mm-filter-dropdown::-webkit-scrollbar-track:horizontal,
.mm-filter-dropdown1::-webkit-scrollbar-track:horizontal {
    background: #F4F4F4;
}

.mm-filter-dropdown::-webkit-scrollbar-thumb:horizontal,
.mm-filter-dropdown1::-webkit-scrollbar-thumb:horizontal {
    background: #BBBBBB;
    border-radius: 12px;
}

.mm-filter-dropdown::-webkit-scrollbar-thumb:horizontal:hover,
.mm-filter-dropdown1::-webkit-scrollbar-thumb:horizontal:hover {
    background: #828282;
}


.dropdown-container {
    position: absolute;
    top: 44px;
    box-shadow: 0px 0px 10px 0px #00000026;
    border-radius: 10px;
    padding: 16px 8px 8px 16px;
    background-color: white;
    width: 100%;
    z-index: 10;
}

.Filter-Flags {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mm-filter-dropdown,
.mm-filter-dropdown1 {
    max-height: 208px;
    background-color: white;
    overflow: auto;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    gap: 15.4px;
    font-size: 16px;
    padding-bottom: 8px;
}

.mm-filter-dropdown-rows,
.mm-filter-dropdown-rows1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.mm-filter-dropdown-rows input,
.mm-filter-dropdown-rows1 input {
    accent-color: #e10202;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.mm-filter-dropdown-rows p,
.mm-filter-dropdown-rows1 p {
    font-weight: 400;
}

.filter-checkbox-new {
    gap: 10px;
}

.Filter-Pill-container {
    display: flex;
    width: 98%;
    padding: 0px 10px 0px 0px;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 0.30rem;
}

.pill-container {
    margin-top: 10px;
}

.pill {
    display: inline-flex;
    align-items: center;
    padding: 1px 0.5rem;
    /* margin: 0.25rem; */
    background-color: #f4f4f4;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    margin-bottom: 4px;
    margin-right: 4px;
}


.pill__remove {
    background: none;
    border: none;
    color: #0A0A0A;
    font-size: 0.8rem;
    cursor: pointer;
}

.checkbox-flg-filter {
    display: flex;
    gap: 10px;
    margin-top: 7px;
}

.Filter-Picklists {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Filter-ranges {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* ranges in the filter */
.range-slider {
    position: relative;
    margin-left: 10%;
    width: 236px;
    height: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 18px;
    width: 236px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    width: 8px;
    height: 8px;
}

.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}

.rangeValue {
    width: 30px;
}

.margin-down {
    margin-bottom: 10px;
}

.range-slider-filter-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checkbox-flg-filter-range {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.output {
    position: absolute;
    border: 1px solid #F4F4F4;
    width: 68px;
    height: 20px;
    text-align: center;
    color: #262626;
    background-color: #E0E0E0;
    border-radius: 10px;
    display: inline-block;
    font: bold 10px/20px 'Noto Sans JP', Arial;
    bottom: 54%;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}

.output:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 10px 5px 0;
    border-style: solid;
    border-color: #E0E0E0 transparent transparent transparent;
}

.output.outputTwo {
    left: 100%;
    bottom: -163%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.detailsofcard {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    width: 100%;
}

input[type=range] {
    -webkit-appearance: none;
    background: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border: none;
    border-radius: 3px;
    background: transparent;
}

input[type=range]::-ms-track {
    height: 5px;
    background: transparent;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-track {
    height: 5px;
    background: transparent;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #E10202;
    margin-top: -5px;
    position: relative;
    z-index: 10000;
}

input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #E10202;
    margin-top: -5px;
    position: relative;
    z-index: 10000;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #E10202;
    margin-top: -5px;
    position: relative;
    z-index: 10000;
}

input[type=range]:focus {
    outline: none;
}

.full-range,
.incl-range {
    width: 100%;
    height: 4px;
    left: 0;
    top: 21px;
    position: absolute;
    background: #D9D9D9;
    border-radius: 5px;
}

.incl-range {
    background: #E10202;
}

.incl-range-disabled {
    background: #d9d9d9;
}

.range-slider.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slider-wrapper {
    position: relative;
}

/* disabled slider */
.slider-disabled .incl-range,
.slider-disabled input[type=range]::-webkit-slider-thumb,
.slider-disabled input[type=range]::-moz-range-thumb {
    background: #BBBBBB !important;
}

.slider-disabled .full-range {
    background-color: #BBBBBB;
}

.slider-disabled input[type=range] {
    pointer-events: none;
    cursor: not-allowed
}




/* Pagination css */
.pagination-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.big-div-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    --sds-c-icon-color-foreground-default: black !important;
}

.nav-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    --sds-c-icon-color-foreground-default: grey !important;
}

.page-button-dots {
    border: none;
    cursor: default;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    margin-left: 5px;
    font-weight: bolder;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-button {
    border: none;
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    margin-left: 5px;
    font-weight: bolder;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-button-delete {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuurent-page {
    background-color: #E10202 !important;
    color: white !important;
}

.cuurent-page-delete {
    width: 28px;
    height: 28px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E10202 !important;
    color: white !important;
}

.input-filter-list-items {
    cursor: pointer;
}

/* delete buttons css */
.deletebtngrp {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 8px;
}

.deletebtnscancel {
    width: 122px;
    height: 40px;
    border-radius: 10px;
    padding: 12px, 16px, 12px, 16px;
    border: 1px solid rgba(217, 217, 217, 1);
    background-color: rgba(244, 244, 244, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.deletebtnscancel:hover {
    border: 1px solid #828282;
    color: #828282;
}

.deletebtnsall {
    width: 122px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 12px, 16px, 12px, 16px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.deletebtncancel {
    width: 122px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 12px, 16px, 12px, 16px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.deletebtnsalldeselect {
    border: 1px solid rgba(225, 2, 2, 1);
    color: rgba(225, 2, 2, 1);
    background-color: white;
    width: 122px;
    height: 40px;
    border-radius: 10px;
    padding: 12px, 16px, 12px, 16px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.deletebtns {
    width: 122px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgba(225, 2, 2, 1);
    padding: 12px, 16px, 12px, 16px;
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.deletebtns:hover {
    background-color: white;
    border: 1px solid #e10102;
    color: #e10102;
}

.deletebtns:disabled {
    background-color: rgba(187, 187, 187, 1);
}

.deletebtns:disabled:hover {
    background-color: rgba(187, 187, 187, 1);
    border: none;
    color: white;
}

.check-color {
    accent-color: rgba(225, 2, 2, 1);
}

.custom-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.custom-modal {
    background-color: white;
    padding: 15px;
    width: 55%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-modal-header h2 {
    margin: 0;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.custom-modal-body {
    margin-top: 15px;
    display: flex;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 10px;
}

.custom-modal-body-grey {
    margin-top: 18px;
    /* border: 1px solid rgba(217, 217, 217, 1); */
    border-radius: 10px;
    background-color: rgba(244, 244, 244, 1);
    padding: 15px;
}

.custom-modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.pagination-container-delete {
    display: flex;
    gap: 4px;
    align-items: center;
    width: 148px;
    height: 32px;
    font-weight: 700;
}

.pagination-containerdelete span {
    margin: 0 10px;
}

.chevron-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    --slds-c-icon-color-foreground-default: #e10202;
}

.chevron-btn[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
    --slds-c-icon-color-foreground-default: : #BBBBBB;
}

.delete-header {
    font-size: 14px;
    font-weight: 700;
}

.vehicle_child1 {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 15px;
    width: 50%;
}

.branches {
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.branches-deleted {
    display: flex;
    gap: 5px;
    align-items: baseline;
    color: #888888;
}

.branch-All {
    font-size: 12px;
    text-decoration: underline;
    color: #e10202;
    font-weight: 600;
    cursor: pointer;
}

.vehicle_child1_container {
    display: flex;
    width: 100%;
    gap: 24px;
}

.vehicle_child1_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
}

.opacity {
    opacity: 56%;
}

.grey-delete-modal {
    width: 100%;
    border-radius: 10px;
    border: none;
}

.heading-overpicklist {
    font-size: 14px;
    font-weight: 400;
}

.footer-btns-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: rgba(244, 244, 244, 1);
}

.search-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-search {
    color: #7B7B7B;
}

.warntextsearch {
    color: #E10202;
}

/* delete vehicle css */
.Delete-vehicle-picklists {
    background-color: #f4f4f4;
    border-radius: 10px;
}

.Delete-vehicle-picklists-container {
    display: flex;
}

.list-item {
    padding: 4px 4px 4px 8px;
    cursor: pointer;
    /* margin-left: 15%; */
}

.list-item:hover {
    background-color: #f0f0f0;
}

.icon {
    padding-left: auto;
    background: var(--dropdown-icon) no-repeat;
    background-size: 20px;
    background-position: 145px 50%;
}

.Inputsdelete::placeholder {
    color: #BBBBBB;
}

.Inputsdelete:hover {
    cursor: pointer;
}

.Inputsdelete {
    padding: 10px;
    border: #D9D9D9 solid 1px;
    border-radius: 10px;
    background-color: white;
    width: 174px;
    height: 40px;
    position: relative;
}

.Inputsdescrption {
    padding: 10px;
    border: #D9D9D9 solid 1px;
    border-radius: 10px;
    width: 265px;
    height: 40px;
    margin-top: 25px;
}

.listsdelete {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 5;
    border-radius: 10px;
    width: 174px;
    margin-top: 0.4%;
    padding: 8px 0px;
}

.Delete-records {
    gap: 12px;
    margin-right: 10px;
    /* padding: 0.5rem; */
}

.warning-text {
    color: #E10202;
    font-size: 12px;
    padding: 7px 0 0 3px;
    /* padding: 5px; */
}

.Delete-vehicle-footer {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 1rem 0rem 0rem 0rem;
}

.btn-delete {
    height: 2rem;
    width: 8rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelbutton-delete {
    background-color: #f4f4f4;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cancelbutton-delete:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.buttontxt-delete {
    color: #0A0A0A;
    font-family: 'Noto Sans JP', sans-serif;
}

.buttontxt2-delete {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.searchbutton-delete {
    background-color: #ea0202;
    color: white;
    border: none;
}

.searchbutton-delete:hover {
    background-color: white;
    border: 1px solid #e10202;
    cursor: pointer;
    color: #E10202;
}

.searchbutton-delete:hover .buttontxt2-delete {
    cursor: pointer;
    color: #E10202;
}

.searchbutton-delete-disabled {
    background-color: #BBBBBB;
    cursor: not-allowed;
}

.searchbutton-delete-disabled .buttontxt2-delete {
    color: white;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
}

.modal-window-branch {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: max-content;
    height: max-content;
    max-height: 90%;
    overflow: auto;
    min-width: 25%;
    gap: 1rem;
}

.modal-header-branch {
    display: flex;
    justify-content: space-between;
}

.branch-card {
    padding: 1rem;
    border-radius: 10px;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    gap: 16px;
}

.count {
    display: flex;
    gap: 4px;
}

.close-button-branch {
    cursor: pointer;
}

.branch-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Delete-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0% 10% 0%;
    font-weight: 400;
}

.vehicle-deleted-text-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.deleted-image-vehicle-container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-left: 6px;
}

.carasoul-images {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: absolute;
}

.invalid-input {
    outline: solid 2px #e10202;
    background-color: #feeeed !important;
}

.invalid-input2 {
    outline: none;
    border: none;
    background-color: #feeeed !important;
}

.svg-hover {
    cursor: pointer;
}

.border-class {
    border: 1px solid #e10102;
}

.disabled {
    background: #BBBBBB;
}

input[type=range]:disabled::-webkit-slider-thumb {
    background: #BBBBBB;
}

input[type=range]:disabled::-moz-range-thumb {
    background: #BBBBBB;
}

.listof-selection-container {
    position: absolute;
    top: 28px;
    box-shadow: 0px 0px 10px 0px #00000026;
    border-radius: 10px;
    padding: 6px 8px 8px 10px;
    background-color: white;
    width: 150px;
    z-index: 10;
    DISPLAY: FLEX;
    FLEX-DIRECTION: column;
    ALIGN-ITEMS: baseline;
    GAP: 10PX;
    JUSTIFY-CONTENT: flex-start;
    right: -5px;
}

.more-in-vehicle-filter {
    position: relative;
}

.notify-recall {
    margin-left: 9px;
    font-weight: 400;
    font-size: 14px;
}

.container-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 6px;
    height: 100%;
}

.output1:after {
    content: '';
    position: absolute;
    bottom: 17px;
    left: 51%;
    height: 20px;
    margin-left: -5px;
    border-width: 10px 5px 0;
    border-style: solid;
    border-color: #E0E0E0 transparent transparent transparent;
    rotate: 180deg;
}

.FilterPillWindow {
    display: flex;
    width: 100%;
    margin-left: 50px;
    gap: 5px;
}

.textfilterpills {
    text-wrap: nowrap;
    margin-top: 4px;
}

.sorting-vehicle-button {
    display: flex;
    gap: 4px;
    align-items: center;
}

.regno {
    width: 11.417%;
}

.maker {
    width: 8%;
}

.vehicle {
    width: 8%;
}

.regperson {
    width: 8.2%;
}

.year {
    width: 11.886%;
}

.nextdate {
    width: 9%;
}

.addition {
    width: 7%;
}

/* deleted */
/* .regno-deleted {
    width: 11.417%;
}

.maker-deleted {
    width: 8%;
}

.vehicle-deleted {
    width: 8%;
}

.regperson-deleted {
    width: 8.2%;
}

.year-deleted {
    width: 11.886%;
}


.nextdate-deleted {
    width: 9%;
}

.addition-deleted {
    width: 7%;
} */


@media screen and (max-width: 1400px) and (min-width: 1025px) {
    .center-content {
        margin-top: -82.5vh;
    }

}

/* Styles for screens between 1023px and 768px */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .center-content {
        margin-top: -81.5vh;
    }

    .head {
        font-size: 11px;
    }

    .Datahead {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .center-content {
        margin-top: -85.5vh;
    }

    .head {
        font-size: 6px;
    }

    .Datahead {
        font-size: 6px;
    }
}

/* master queries of screen zoom in and out */
/* master queries of screen zoom in and out */
@media (max-width: 2560px) {
    .center-content {
        margin-top: -88.5vh;
        width: 80%;
    }

    .modal-window-Filter-Modal {
        margin: 85px 142px -2px 0px;
        height: 79.3vh;
        min-width: 14%;
    }

    .filter-pinned-window {
        min-width: 16%;
        height: 79vh;
    }

    .main {
        margin: -16px 0 0 -33px;
    }
}

@media (max-width: 1920px) {
    .center-content {
        margin-top: -85.5vh;
        width: 83%;
    }

    .modal-window-Filter-Modal {
        margin: 87px 112px -2px 0px;
        height: 78.5vh;
        min-width: 18%;
    }

    .filter-pinned-window {
        min-width: 20%;
        height: 83.2vh;
    }

    .main {
        margin: -16px 0 0 -25px;
    }
}

@media (max-width: 1707px) {
    .center-content {
        margin-top: -84.5vh;
        width: 87%;
    }

    .modal-window-Filter-Modal {
        margin: 84px 101px -2px 0px;
        height: 85.1vh;
        min-width: 21%;
    }

    .filter-pinned-window {
        min-width: 21%;
        height: 85.5vh;
    }

    .main {
        margin: -16px 0 0 -23px;
    }
}

@media (max-width: 1686px) {
    .center-content {
        margin-top: -84vh;
        width: 88%;
    }

    .filter-pinned-window {
        min-width: 22%;
        height: 87vh;
    }

    .modal-window-Filter-Modal {
        margin: 85px 93px -2px 0px;
        height: 87vh;
        min-width: 22%;
    }


}

@media (max-width: 1600px) {
    .center-content {
        margin-top: -83.5vh;
        width: 89%;
    }

    .main {
        margin: -16px 0 0 -21px;
    }
}

@media (max-width: 1536px) {
    .center-content {
        margin-top: -82.5vh;
        width: 89.5%;
    }

    .main {
        margin: -16px 0 0 -19px;
    }

    .modal-window-Filter-Modal {
        margin: 83px 87px 0px 0px;
        min-width: 2;
        min-width: 24.5%;
        height: 86vh;
    }

    .filter-pinned-window {
        min-width: 25%;
        height: 93vh;
    }

    .custom-modal {
        width: 50%;
    }

}

@media (max-width: 1280px) {
    .center-content {
        margin-top: -81.5vh;
        width: 90%;
    }

    .filter-pinned-window {
        min-width: 28%;
        height: 96.1vh;
    }

    .main {
        margin: -16px 0 0 -17px;
    }

    .modal-window-Filter-Modal {
        margin: 79px 79px 0px 0px;
        height: 85vh;
        min-width: 27.5%;
    }

    .regperson-deleted{
        width: 8.2%;
    }
}

@media (max-width: 1170px) {
    .center-content {
        margin-top: -80.5vh;
    }

    .modal-window-Filter-Modal {
        margin: 78px 59px 0px 0px;
        min-width: 29.5%;
        height: 84vh;
    }

    .Filter-Name-container {
        height: 80%;
    }

    .filter-pinned-window {
        min-width: 30%;
        height: 98.6vh;
    }

    .main {
        width: calc(100vw - 14px);
    }

    .vehicle_child1_list {
        gap: 8px;
        font-size: 12px
    }

    .vehicle_child1 {
        padding: 10px 0 10px 10px;
    }

    .custom-modal-body-grey {
        margin-top: 14px;
        padding: 10px;
    }

    .warning-text {
        font-size: 11px;
    }

    .custom-modal {
        width: 52%;
    }

    .regperson-deleted{
        width: 8.7%;
    }

    .vehicle_child1_list {
        gap: 8px;
        font-size: 12px
    }

    .vehicle_child1 {
        padding: 10px 0 10px 10px;
    }

    .custom-modal-body-grey {
        margin-top: 14px;
        padding: 10px;
    }

    .warning-text {
        font-size: 11px;
    }

    .custom-modal {
        width: 52%;
    }

    .Delete-records {
        margin-right: 6px;
    }

    .Inputsdelete {
        width: 168px;
        height: 40px;
    }

    .listsdelete {
        width: 168px;
    }

    .Inputsdescrption {
        padding: 5px;
        width: 200px;
        margin-top: 24px;
    }
    .detailsofcard{
        width: 87%;
    }

}


@media (max-width: 1024px) {
    .center-content {
        margin-top: -79vh;
    }
    .deleted{
        font-size: 10px;
    }
    .Datahead-deleted{
        font-size: 10px;
    }

    .modal-window-Filter-Modal {
        margin: 74px 65px 0px 0px;
        min-width: 33.5%;
        height: 82vh;
    }

    .filter-pinned-window {
        min-width: 34%;
        height: 108.3vh;
    }

    .Filter-Name-container {
        height: 77%;
    }
    .deleted-img-text{
        font-size: 14px;
    }

    .main {
        width: calc(100vw - 13px);
    }

    /* .custom-modal {
        width: 55%;
    } */

    .delete-header {
        font-size: 12px;
    }
    .search{
        width: 190px;
    }
    .search-box::placeholder{
        font-size: 10px;
    }
    .info-search{
        font-size: 12px;
    }
    .vehicle_child1 {
        padding: 10px 0 10px 10px;
    }

    .vehicle_child1_list {
        gap: 8px;
        font-size: 11px;
    }

    .custom-modal-body-grey {
        padding: 10px;
        margin-top: 12px;
    }

    .warning-text {
        font-size: 10px;
    }

    .Delete-records {
        font-size: 11px;
    }

    .custom-modal-body {
        margin-top: 8px;
    }

    .custom-modal {
        width: 55%;
        padding: 12px;
    }

    .delete-header {
        font-size: 12px;
    }

    .warning-text {
        font-size: 10px;
    }

    .Inputsdelete {
        width: 150px;
        height: 34px;
    }

    .Inputsdescrption {
        width: 200px;
        height: 34px;
        margin-top: 22px;
    }

    .listsdelete {
        width: 150px;
    }

    .icon {
        background-position: 124px 50%;
    }
    .detailsofcard{
        width: 86%;
    }

    .regperson-deleted{
        width: 8.9%;
    }
}

@media (max-width: 864px) {
    .center-content {
        margin-top: -76vh;
    }

    .modal-window-Filter-Modal {
        margin: 73px 58px 0px 0px;
        min-width: 41%;
        height: 79vh;
    }

    .Filter-Name-container {
        height: 71%;
    }

    .filter-pinned-window {
        min-width: 42%;
        height: 116.3vh;
    }

    .main {
        width: calc(100vw - 10px);
    }

    .custom-modal {
        width: 60%;
        padding: 8px;
    }

    .delete-header {
        font-size: 10px;
    }

    .custom-modal-body {
        margin-top: 5px;
        margin-top: 3px;
    }

    .vehicle_child1 {
        padding: 6px 0 6px 6px;
    }

    .vehicle_child1_container {
        gap: 10px;
    }

    .vehicle_child1_list {
        gap: 8px;
        font-size: 10px;
    }

    .Delete-vehicle-picklists {
        font-size: 11px;
    }

    /* .Inputsdelete {
        width: 156px;
        height: 30px;
    } */

    /* .icon {
        background-position: 128px 50%;
    } */
    
    .Delete-vehicle-footer {
        padding: 0.5rem 0rem 0rem 0rem;
    }

    .custom-modal-body-grey {
        margin-top: 8px;
        padding: 6px;
    }

    .icon {
        background-position: 100px 50%;
    }

    /* .Inputsdelete {
        width: 125px;
        height: 28px;
    } */


    .listsdelete {
        width: 125px;
    }

    .Inputsdescrption {
        width: 210px;
        height: 28px;
        margin-top: 22px;
    }

    .warning-text {
        font-size: 9px;
    }

    .detailsofcard{
        width: 81%;
    }
}

@media (max-width: 768px) {
    .center-content {
        margin-top: -75vh;
    }
}

@media (max-width: 640px) {
    .center-content {
        margin-top: -73vh;
    }

}


@media (max-width: 1170px) {
    

}



@media only screen and (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
    .center-content {
        margin-top: -88.6vh;
    }
}

@media only screen and (min-width: 820px) and (max-width: 820px) and (min-height: 1180px) and (max-height: 1180px) {
    .center-content {
        margin-top: -89.4vh;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) {
    .center-content {
        margin-top: -90.2vh;
    }
}

@media only screen and (min-width: 912px) and (max-width: 912px) and (min-height: 1368px) and (max-height: 1368px) {
    .center-content {
        margin-top: -90.2vh;
    }
}

@media only screen and (min-width: 1114px) and (max-width: 1114px) and (min-height: 720px) and (max-height: 720px) {
    .center-content {
        margin-top: -80.2vh;
    }
}