* {
    font-family: 'Noto Sans JP', sans-serif;
}

.main {
    position: relative;
    width: calc(100vw - 16px);
    margin: -16px 0 0 -16px;
    height: max-content;
}

.half {
    width: 100%;
    left: 0;
}

.top {
    height: 96vh;
    background: linear-gradient(to bottom, #BFBFBF, #F4F4F4);
}

.bottom {
    position: relative;
    height: max-content;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    width: calc(100vw - 16px);
}

.center-content {
    position: relative;
    height: 100%;
    margin-top: -82.5vh;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;

}
.main_image {
    width: 100%;
    height: 100%;
}

.main-content{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-div{
    /* height: max-content; */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.bottom-div{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.heading{
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: end;
}

.search-div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 26px 0;
}


.inside-search{
    width: 95%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    padding: 20px;
}

.search-content{
    border-top: 1px solid #D9D9D9;
    padding: 25px 10px 10px 10px;
    font-size: 16px;
    margin-top: 10px;
}

.search-items{
    display: flex;
    width: 100%;
    /* gap: 24px; */
    margin-bottom: 25px;
    align-items: center;
}

.search-label{
    font-weight: 700;
    width: 12%;
}

.search-value{
    width: 88%;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown{
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    padding: 8px 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    position: relative;
}

.dropdown-button {
    width: 100%;
    border: none;
}

.icon {
    padding-left: auto;
    background: var(--dropdown-icon) no-repeat;
    background-size: 25px;
    background-position: 100% 50%;
}

.icon2 {
    padding-left: auto;
    background: var(--dropdown-icon) no-repeat;
    background-size: 25px;
    background-position: 97% 50%;
}

.selected-placeholder-val{
    font-size: 16px;
    font-weight: 400;
    color: #262626;
}

.branch-error{
    border: 1px solid #e10202;
    background-color: #FEEEED;
}

.error-text{
    padding: 5px 2px;
    font-size: 14px;
    font-weight: 400;
    color:#e10202;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    border: none;
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    z-index: 1;
    width: 100%;
    top: 45px;
    right: 0;
}

input[type="checkbox"] {
    cursor: pointer;
    margin-right: 10px;
    accent-color: rgba(225, 2, 2, 1);
}

.placeholder-not-sel{
    font-size: 16px;
    font-weight: 400;
    color: #BBBBBB;
}

.master-dropdown{
    display: flex;
    width: 88%;
    flex-direction: column;
}

.month-year-picker-container {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.dropdown-wrapper-date {
    position: relative;
    width: 40%;
}

.dropdown-item {
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dropdown-item-disabled {
    color: #aaa;
    cursor: not-allowed;
}

.dropdown-list-date {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 10;
    padding: 10px 0;
    margin-top: 5px;
    overflow-y: hidden;
    border-radius: 10px;
}

.dropdown-header-date {
    padding: 8px 15px;
    background-color: white;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    height: 42px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-field-val{
    width: 65%;
}

.searchlist {
    max-height: 120px;
    overflow-y: auto;
    margin-right: 10px;
}

.searchlist::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    margin-right: 10px;
  
}

.searchlist::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 5px;
    margin-right: 10px;
}

.searchlist::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 5px;
}

.searchlist::-webkit-scrollbar-thumb:hover {
    background: #d1d0d0;
}
  
.search-button{
    width: 176px;
    height: 48px;
    background-color: #e10202;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    color: white;
    transition: background-color 0.9s ease, border 0.5s ease, color 0.5s ease;
}

.search-button:hover{
    border: 1px solid #e10202;
    background-color: white;
    color: #e10202;
    transition: background-color 0.9s ease, border 0.5s ease, color 0.5s ease;
}

.footer-buttons{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}

.table {
    width: 95%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--Gray-line, #D9D9D9);
}

.table-header {
    display: grid;
    height: 45px;
    width: 100%;
    grid-template-columns: 0.2fr 1.2fr 1.2fr 1fr 1fr 1.2fr 1.2fr 1fr 1fr;
    column-gap: 8px;
    align-items: center;
    background: var(--Gray-bg, #F4F4F4);
    border-radius: 10px 10px 0px 0px;
    padding: 0 24px;
    font-weight: 700;
    text-wrap: nowrap;
}

.table-header-item {
    display: flex;
    gap: 12px;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: max-content;
}

.table-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
}

.records-count{
    width: 95%;
    padding: 20px 0px 0px 0px;
    font-size: 14px;
    font-weight: 700;
}

.table-row {
    display: grid;
    height: 45px;
    width: 100%;
    grid-template-columns: 0.2fr 1.2fr 1.2fr 1fr 1fr 1.2fr 1.2fr 1fr 1fr;
    column-gap: 8px;
    align-items: center;
    border-bottom: 1px solid var(--Gray-line, #D9D9D9);
    padding: 0 24px;
}

.table-row:last-of-type{
    border-bottom: 0;
}

.table-row-item {
    width: max-content;
}

.table-row-item-down{
    width: max-content;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    align-items: center;
    color: #e10202;
}
.cancelbutton-download {
    width: 150px;
    height: 38px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f4f4f4;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
.cancelbutton-download:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  }

.noSearch{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
}

.modal-background-last {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 109;
    /* Ensure it is on top */
}

.modal-window-small {
    background-color: rgba(251, 251, 251);
    border-radius: 8px;
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    /* Max width to ensure it fits on screen */
    max-height: 90%;
    /* Max height to ensure it fits on screen */
    overflow: auto;
    /* Add scroll if content overflows */
}

.warning-modal {
    width: 100%;
    height: 64%;
    display: flex;
    padding: 1.5rem 3rem 0 3rem;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.warntxt {
    font-size: 14px;
    color: #0A0A0A;
    font-family: 'Noto Sans JP', sans-serif;
}

.more {
    margin-bottom: 2rem;
}

.download-button{
    width: 150px;
    height: 38px;
    background-color: #e10202;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    color: white;
    transition: background-color 0.9s ease, border 0.5s ease, color 0.5s ease;
}

.download-button:hover{
    border: 1px solid #e10202;
    background-color: white;
    color: #e10202;
    transition: background-color 0.9s ease, border 0.5s ease, color 0.5s ease;
}

.select-all-btn{
    width: 150px;
    height: 38px;
    background-color: #FFF;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    color: rgba(25, 25, 25, 0.80);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 0.9s ease, border 0.5s ease, color 0.5s ease;
}

.buttons-all-selected{
    justify-content: start;
    display: flex;
    width: 95%;
    margin: 24px 0;
    gap: 24px;
}

.buttons-all{
    justify-content: center;
    display: flex;
    width: 95%;
    margin: 24px 0;
    gap: 24px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: white;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .modal-header h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-body {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .status-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    /* width: 80%; */
    width: 280px;
    padding: 0px 5px;
  }
  
  .file-name {
    font-weight: 400;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    color: #262626;
    align-items: center;
    /* overflow-x: auto; */
    color: #262626;
    padding: 10px;
    gap: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15)
  }

  /* .file-name p{
    overflow: hidden;
    text-overflow: ellipsis;    
  } */
  
  .file-status {
    display: flex;
    gap: 10px;
    margin-top: 2px;
  }
  
  .modal-footer {
    text-align: right;
  }
  
  .ellipsess{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.modal-window-small2 {
    background-color: rgba(251, 251, 251);
    border-radius: 8px;
    padding: 1rem 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    /* Max width to ensure it fits on screen */
    max-height: 90%;
    /* Max height to ensure it fits on screen */
    overflow: auto;
    /* Add scroll if content overflows */
    width: 450px;
}

.warning-modal2 {
    width: 100%;
    height: 64%;
    display: flex;
    padding: 1.5rem 2rem 0 2rem;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.loader-container {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #e10202;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.documents-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px 0;
}

.scrollbar2{
    max-height: 250px;
    overflow-y: auto;
    margin-right: 10px;
}

.scrollbar2::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    margin-right: 10px;
}

.scrollbar2::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 5px;
    margin-right: 10px;
}

.scrollbar2::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 5px;
}

.scrollbar2::-webkit-scrollbar-thumb:hover {
    background: #d1d0d0;
}

.buttons-small{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.einvoiceItems{
    max-height: 224px;
    overflow-y: auto;
}

.einvoiceItems::-webkit-scrollbar {
    width: 12px;
    height: 8px;
  
}

.einvoiceItems::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 5px;
    margin-right: 10px;
}

.einvoiceItems::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 5px;
}

.einvoiceItems::-webkit-scrollbar-thumb:hover {
    background: #d1d0d0;
}


/* master queries of screen zoom in and out */
/* @media (max-width: 2560px) {
    .center-content {
        margin-top: -88.5vh;
        width: 80%;
    }

    .main {
        margin: -16px 0 0 -33px;
    }
}

@media (max-width: 1920px) {
    .center-content {
        margin-top: -85.5vh;
        width: 83%;
    }


    .main {
        margin: -16px 0 0 -25px;
    }
}

@media (max-width: 1707px) {
    .center-content {
        margin-top: -84.5vh;
        width: 87%;
    }

    .main {
        margin: -16px 0 0 -23px;
    }
}

@media (max-width: 1686px) {
    .center-content {
        margin-top: -84vh;
        width: 88%;
    }



}

@media (max-width: 1600px) {
    .center-content {
        margin-top: -83.5vh;
        width: 89%;
    }

    .main {
        margin: -16px 0 0 -21px;
    }
}

@media (max-width: 1536px) {
    .center-content {
        margin-top: -82.5vh;
        width: 89.5%;
    }

    .main {
        margin: -16px 0 0 -19px;
    }

}

@media (max-width: 1280px) {
    .center-content {
        margin-top: -81.5vh;
        width: 90%;
    }
	
    .main {
        margin: -16px 0 0 -17px;
    }
	
}

@media (max-width: 1170px) {
    .center-content {
        margin-top: -80.5vh;
    }

    .main {
        width: calc(100vw - 14px);
    }
	
}


@media (max-width: 1024px) {
    .center-content {
        margin-top: -79vh;
    }

    .main {
        width: calc(100vw - 13px);
    }
}

@media (max-width: 864px) {
    .center-content {
        margin-top: -76vh;
    }

    .main {
        width: calc(100vw - 10px);
    }
}

@media (max-width: 768px) {
    .center-content {
        margin-top: -75vh;
    }
}

@media (max-width: 640px) {
    .center-content {
        margin-top: -73vh;
    }

}

@media only screen and (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
    .center-content {
        margin-top: -88.6vh;
    }
} */

/* 

@media only screen and (min-width: 820px) and (max-width: 820px) and (min-height: 1180px) and (max-height: 1180px) {
    .center-content {
        margin-top: -89.4vh;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) {
    .center-content {
        margin-top: -90.2vh;
    }
}

@media only screen and (min-width: 912px) and (max-width: 912px) and (min-height: 1368px) and (max-height: 1368px) {
    .center-content {
        margin-top: -90.2vh;
    }
}

@media only screen and (min-width: 1114px) and (max-width: 1114px) and (min-height: 720px) and (max-height: 720px) {
    .center-content {
        margin-top: -80.2vh;
    }
} */

 
/* master queries of screen zoom in and out */
@media (max-width: 2560px) {
    .center-content {
        margin-top: -88.5vh;
        width: 80%;
    }
 
    .main {
        margin: -16px 0 0 -33px;
    }
}
 
@media (max-width: 1920px) {
    .center-content {
        margin-top: -85.5vh;
        width: 83%;
    }
 
    .main {
        margin: -16px 0 0 -21px;
    }
}
 
@media (max-width: 1707px) {
    .center-content {
        margin-top: -84.5vh;
        width: 87%;
    }
 
    .main {
        margin: -16px 0 0 -18px;
    }
}
 
@media (max-width: 1686px) {
    .center-content {
        margin-top: -84vh;
        width: 88%;
    }
}
 
@media (max-width: 1600px) {
    .center-content {
        margin-top: -83.5vh;
        width: 89%;
    }
 
    .main {
        margin: -16px 0 0 -17px;
    }
}
 
@media (max-width: 1536px) {
    .center-content {
        margin-top: -82.5vh;
        width: 89.5%;
    }
 
    .main {
        margin: -16px 0 0 -15px;
    }
}
 
@media (max-width: 1280px) {
    .center-content {
        margin-top: -81.5vh;
        width: 90%;
    }
 
    .main {
        margin: -16px 0 0 -13px;
    }
}
 
@media (max-width: 1170px) {
    .center-content {
        margin-top: -80.5vh;
    }
 
    .main {
        width: calc(100vw - 14px);
    }
}
 
 
@media (max-width: 1024px) {
    .center-content {
        margin-top: -79vh;
    }
 
    .main {
        width: calc(100vw - 13px);
    }
 
}
 
@media (max-width: 864px) {
    .center-content {
        margin-top: -76vh;
    }
 
    .main {
        width: calc(100vw - 10px);
    }
 
}
 
@media (max-width: 768px) {
    .center-content {
        margin-top: -75vh;
    }
}
 
@media (max-width: 640px) {
    .center-content {
        margin-top: -73vh;
    }
 
}
 
@media only screen and (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
    .center-content {
        margin-top: -88.6vh;
    }
}
 
@media only screen and (min-width: 820px) and (max-width: 820px) and (min-height: 1180px) and (max-height: 1180px) {
    .center-content {
        margin-top: -89.4vh;
    }
}
 
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) {
    .center-content {
        margin-top: -90.2vh;
    }
}
 
@media only screen and (min-width: 912px) and (max-width: 912px) and (min-height: 1368px) and (max-height: 1368px) {
    .center-content {
        margin-top: -90.2vh;
    }
}
 
@media only screen and (min-width: 1114px) and (max-width: 1114px) and (min-height: 720px) and (max-height: 720px) {
    .center-content {
        margin-top: -80.2vh;
    }
}