body{
    font-family: 'Noto Sans JP', sans-serif !important;
}
/* Styles for the modal background */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    /* Ensure it is on top */
}

.modal-background-last {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 109;
    /* Ensure it is on top */
}

/* Styles for the modal window */
.modal-window {
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 10px;
    padding: 24px;
    max-width: 90%;
    /* overflow: auto;  */
}

.modal-window-small {
    background-color: rgba(251, 251, 251, 1);
    border-radius: 8px;
    padding: 1rem 3rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    /* Max width to ensure it fits on screen */
    max-height: 90%;
    overflow: auto;
}

.modal-windowChassis {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: var(--modal-width, 50%);
    /* Default width: 50% */
    height: var(--modal-height, 80%);
    /* Default height: 50% */
    max-width: 90%;
    /* Max width to ensure it fits on screen */
    max-height: 90%;
    overflow: auto;
}

.modal-finalWindow {
    background-color: white;
    border-radius: 8px;
    padding: 25px 45px 25px 45px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 80%;
    height: 80%;
    width: 500px;
    overflow: auto;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.close {
    margin-left: auto;
}

.closeIcon {
    --sds-c-icon-color-foreground-default: #0A0A0A;
    --sds-c-icon-color-foreground: #0A0A0A;
      cursor: pointer;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 5%;
    align-items: center;
}

.warning {
    width: 100%;
    height: 64%;
    display: flex;
    padding: 3rem 0rem;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.more {
    margin-bottom: 2rem;
}

.warntxt {
    font-size: 14px;
    color: #0A0A0A;
    font-family: 'Noto Sans JP', sans-serif;
}

.buttons {
    height: 20%;
}

.buttons-small {
    height: 36%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.cardsChassis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 95%;
    min-height: 300px;
    padding: 0px 5px 0px 5px;
}

.cardsChassis2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    padding: 0px 5px 0px 5px;
    padding-top: 0.5rem;
}

.headingNew {
    height: 5%;
}

.cardInput {
    background-color: #fff;
    height: 70vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.headings {
    display: flex;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 14%;
}

.Picture {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.info {
    text-align: center;
    width: 100%;
    height: 14%;
}

.txt1 {
    font-size: 14px;
    font-weight: bold;
    color: #0A0A0A;
    font-family: 'Noto Sans JP', sans-serif;
}

.margin {
    margin-bottom: 1rem;
}

.margintop {
    margin-top: 0.5rem;
}

.information {
    /* margin-top: 7px; */
    font-size: 16px;
    color: #262626;
    font-family: 'Noto Sans JP', sans-serif;
}

.information2 {
    /* margin-bottom: 5px; */
    font-size: 16px;
    color: #262626;
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

.cardInput:hover {
    cursor: pointer;
    border: 0.1rem solid #e70303;
}

@media (max-width: 768px) {
    .modal-windowChassis {
        width: var(--modal-width, 80%);
    }

    .modal-finalWindow {
        width: var(--modal-width, 60%);
    }

    .txt1 {
        font-size: 12px;
    }

    .modal-window-small {
        width: var(--modal-width, 50%);
    }
}

@media (max-width: 2560px) and (min-width: 1921px) {
    .modal-windowChassis {
        width: var(--modal-width, 30%);
        height: var(--modal-height, 50%);
    }

    .modal-finalWindow {
        width: var(--modal-width, 20%);
        height: var(--modal-height, 60%);
    }
}

@media (max-width: 1920px) and (min-width: 1708px) {
    .modal-windowChassis {
        width: var(--modal-width, 35%);
        height: var(--modal-height, 55%);
    }

    .modal-finalWindow {
        width: var(--modal-width, 25%);
        height: var(--modal-height, 65%);
    }
}

@media (max-width: 1707px) and (min-width: 1699px) {
    .modal-windowChassis {
        width: var(--modal-width, 40%);
        height: var(--modal-height, 60%);
    }

    .modal-finalWindow {
        width: var(--modal-width, 30%);
        height: var(--modal-height, 70%);
    }

}

@media (max-width: 1600px) and (min-width: 1537px) {
    .modal-windowChassis {
        width: var(--modal-width, 45%);
        height: var(--modal-height, 65%);
    }

    .modal-finalWindow {
        width: var(--modal-width, 35%);
        height: var(--modal-height, 75%);
    }
}

@media (max-width: 1536px) and (min-width: 1281px) {
    .modal-windowChassis {
        width: var(--modal-width, 50%);
        height: var(--modal-height, 70%);
    }

    .modal-finalWindow {
        width: var(--modal-width, 38%);
        height: var(--modal-height, 78%);
    }
}

@media (max-width: 1170px) {
    .modal-finalWindow {
        width: 450px;
    }

    .txt1 {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {

    .modal-windowChassis {
        width: var(--modal-width, 60%);
    }

    .modal-finalWindow {
        width: 410px;
    }

    .txt1 {
        font-size: 11px;
    }

    .modal-window-small {
        width: var(--modal-width, 36%);
    }
}

@media (max-width: 864px) {
    .input-field-modal {
        width: 145px;
    }

    .label {
        font-size: 10px;
    }

    .modal-windowChassis {
        height: var(--modal-height, 90%);
    }

    .lists2 {
        width: 20.4rem;
    }

    .warntxt {
        font-size: 10px;
    }

    /* .cardInput {
        height: 12rem;
    } */

    .modal-finalWindow {
        width: 340px;
        padding: 20px 30px 20px 30px;
    }

    .txt1 {
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    .input-field-modal {
        width: 145px;
    }

    .label {
        font-size: 10px;
    }
}

@media (max-width: 640px) {
    .input-field-modal {
        width: 145px;
    }

    .label {
        font-size: 10px;
    }
}