.no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.back-icon {
  --sds-c-icon-color-foreground-default: black;
  color: black;
}

.back-icon:hover {
  --sds-c-icon-color-foreground-default: #e10202;
  color: #e10202;
  cursor: default;
}

.upload-image {
  height: 210px;
}

.main_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 0 0 0;
}

.content1_container {
  display: flex;
  gap: 24px;
}
.content1_left_container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  width: 70%;
  /* min-height: 220px; */
  border-radius: 16px;
  padding: 18px 0 0 24px;
  /* margin: 15px 10px 10px 10px; */
}

.content1_right_container {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 230px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.content1_left_row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 20px; */
}
.content1_left_row2 {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  margin: 8px 24px 24px 0;
}
.content1_left_row2_1 {
  display: flex;
  margin: 16px 24px 0 24px;
  flex-direction: row;
  /* align-items: center; */
  /* gap: 2.3%; */
  justify-content: space-between;
  border-radius: 8px;
}
.content1_left_row2_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 24px 16px 24px;
}

.content1_left_row3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.content1_left_left_row3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.content1_left_left_row3:hover lightning-icon {
  --sds-c-icon-color-foreground-default: #e10202;
  color: #e10202;
}
.content1_left_left_row3:hover p {
  --sds-c-icon-color-foreground-default: #e10202;
  color: #e10202;
  cursor: default;
}

.content1_left_row3 button {
  padding: 6px 8px 6px 8px;
  background-color: white;
  height: 38px;
  width: 150px;
  box-shadow: 0px 0px 10px 0px #00000026;
  border-radius: 10px;
  border: none;
}

.content1_left_row2_element {
  /* width: 20%;
      height: 100%; */
}

.btnico {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-top: 15px;
  margin-right: 10px;
  border: 1px solid #d8d8d8;
  padding: 5px 5px;

  background-color: white;
  box-shadow: 0px 0px 10px 0px #00000026;

  cursor: pointer;
  height: 50%;
}
.btnico1 {
  display: inline-flex;
  align-items: center;
  margin-right: 38px;
  margin-top: 15px;
  border: 1px solid #d8d8d8;
  padding: 5px 5px;
  box-shadow: 0px 0px 10px 0px #00000026;

  background-color: white;
  cursor: pointer;
  height: 50%;
}

.content1_right_img {
  min-width: 100%;
  height: 100%;
}

.content2_container {
  background-color: white;
  /* height: 600px; */
  /* width: 90%; */
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content1_left_row1_left {
  align-items: center;
  display: flex;
  height: 100%;
  width: 60%;
}

.vehicle_container {
  /* overflow: scroll; */
  /* margin: 6px; */
  /* background-color: #f4f4f4; */
  width: calc(100% - 20px);
  border-radius: 10px;
  height: 100%;
  padding: 12px 20px 15px 20px;
  border: 1px solid #d9d9d9;
}
.vehicle_header {
  display: flex;
  background-color: #f4f4f4;
  gap: 20px;
  padding: 0 0 10px 0;
}
.vehicle_header h3 {
  /* background-color: white; */
  padding: 7px;
}
.vehicle_header h3:first-child {
  background-color: white;
}
.vehicle_child1 {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.vehicle_child1_container {
  display: flex;
  width: 50%;
  gap: 20px;
}
.vehicle_child1_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* .vehicle_child2 {
    padding: 13px 0 13px 5px;
  }
  .vehicle_child3 {
    background-color: white;
    display: flex;
    gap: 20px;
    padding: 25px;
  } */

.recMain {
  display: flex;
  width: calc(100% - 20px);
  height: 100%;
  max-height: 436px;
  margin: 0 0 0 20px;
  overflow-y: scroll;
}

.btnrec {
  display: flex;
  width: 100%;
  padding: 20px 20px;
  align-items: center;
}

.truckonnect {
  display: flex;
  gap: 5px;

  background-color: transparent; /* Set background color to transparent */
  border: none;
  color: black; /* Set text color to black */
  padding: 18px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}

/* prvious */
.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: #fbfbfb;
  align-items: center;
  width: 1000px;
}

.recbase {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 200px;
  width: 90%;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.recdetail {
}
.Rec {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  margin-left: 10px;
  margin-top: 5px;
}
.imgs {
  height: 100%;
  width: 25%;
}
.header {
}
.detail {
}
.RegNo {
}
.RegNoData {
  margin-left: 16px;
  font-size: 28px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}

.Head {
  white-space: nowrap;
  margin: 3px;
  color: rgb(165, 162, 162);
}
.recdata {
  margin: 4px 3px 3px 3px;
}
.recimg {
  width: fit-content;
  height: 100%;
}
.square-button {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  overflow: hidden;
}

.button-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.icon {
  width: 100%; /* Ensure icon fills the button */
  height: 100%; /* Ensure icon fills the button */
}
.recbar {
  display: flex;
  flex-direction: row;
  gap: 1px;
  height: 10%;
  width: 100%;
  margin-left: 14px;
  /* border: 1px solid red ; */
}
.underline-button {
  background-color: transparent; /* Set background color to transparent */
  border: none;
  color: black; /* Set text color to black */
  padding: 18px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}

.underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
}

/* .underline-button:hover .underline {
    background-color: black;
  } */

.rsearch {
  margin-left: auto;
  margin-right: 27px;
  margin-bottom: 20px;
  color: rgb(232, 232, 232);
  border-radius: 0px;
}
.b {
  /* margin-top: 7px; */
  padding-left: 4px;
  padding-right: 24px;
  color: rgb(165, 162, 162);
}
.bottom-icons {
  width: 18px;
  height: 16px;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 100%;
}
.i {
  width: 20px;
  height: 20px;
  background-size: cover;
  margin-right: 5px;
}
.notetext {
  margin-left: 1px;
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: black;
}

/* not in use */
.modal-header {
  display: flex;
  justify-content: flex-end;
}
.close-button {
  margin-top: -1rem;
  margin-right: -1.5rem;
  cursor: pointer;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-window {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: max-content;
  height: max-content;
  max-height: 90%;
  overflow: auto;
}

.upload-image-icon {
  cursor: pointer;
}

.upload-image-list {
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 1.5rem;
  width: fit-content;
  overflow-y: auto;
}

.imagetext {
  color: white;
}

.upload-image-list .upload-image-css {
  display: inline-block;
  width: calc(50% - 10px); /* Adjust this to fit two images */
  margin: 5px; /* Adjust spacing between images */
}

.upload-image-top {
  width: 100%;
  max-width: 330px;
  height: 100%;
  border-radius: 10px;
}

.upload-image-bottom {
  max-height: 56px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #d9d9d9; */
  padding: 16px;
  display: flex;
  justify-content: space-between;
    align-items: center;
    z-index: 1100;
    position: relative;
    margin-top: -4rem;
    margin-left: 0.5rem;
    BACKGROUND-COLOR:#262626;
    opacity: 0.4;
    WIDTH: 95%;
}

.upload-image-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtericn {
  --sds-c-icon-color-foreground-default: #e10202;
  --sds-c-icon-color-foreground: #e10202;
}

.filtericn {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.closeIcon {
  --sds-c-icon-color-foreground-default: #0a0a0a;
  --sds-c-icon-color-foreground: #0a0a0a;
}

.main {
  /* height: 56.8%; */
  flex: 1;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.btn {
  height: 2rem;
  width: 8rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancelbutton {
  background-color: #f4f4f4;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.searchbutton {
  background-color: #ea0202;
}

.searchbutton:hover {
  cursor: pointer;
}

.cancelbutton:hover {
  cursor: pointer;
}

.buttontxt {
  color: #0a0a0a;
  font-family: "Noto Sans JP", sans-serif;
}

.buttontxt2 {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}

.template-a[show] .template-a,
.template-b[show] .template-b,
.template-c[show] .template-c {
  display: block;
}

.div-elements {
  margin-top: 2%;
}

.head-elements {
  font-weight: bolder;
}

@media screen and (max-width: 930px) {
  .content1_left_row3 button {
    width: 104px;
  }
}

.image-container {
  border-radius: 10px;
  width: 100%; /* Adjust based on your container */
  padding: 20px;
  background-color: #f9f9f9;
}

.image-modal-content {
  /* background-color: white; */
  border-radius: 5px;
  padding: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.pagination-button lightning-icon {
  color: #E10202; /* Custom color for the icons */
}

.image-display-area {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-display-container {
  display: flex;
  align-items: center;
}

.pagination-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none; /* Removes the border on focus */
}

.pagination-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.pagination-icon2 {
  color: #E10202;
}
.pagination-icon {
  cursor:not-allowed;
}

.image-icon {
  height: 15px;
  width: 15px;
  filter: invert(29%) sepia(93%) saturate(2797%) hue-rotate(338deg) brightness(94%) contrast(92%);
}


.pagination-button:focus {
  outline: none; /* Ensures no outline on focus */
}

.custom-icon {
  fill: #E10202; /* Sets the desired color */
}

.image-display-top {
  width: 100%; /* Ensures the image container takes the full width */
  height: 100%; /* Set this to your desired height */
  display: flex;
  position: relative;
  /* align-items: center;
  justify-content: center;
  overflow: hidden; Ensures that any overflow is hidden */
}

.image-display-top img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: fill; /* Ensures the image scales to fit the container */
}

.image-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: #ccc;
  border-radius: 50%;
}

.image-dots-container {
  white-space: nowrap;
}

.image-pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 8px;
  left: 50%;     
  transform:translateX(-50%);
}

.image-dot.active {
  background-color: #E10202;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Add padding to ensure some spacing around the loader */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #E10202; /* Red color for the loader */
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  margin-top: 10px;
  font-size: 16px;
  color: #333; /* Text color */
  font-weight: bold;
}